<section>

  <section data-transition="slide">
    <h2>Chute du vivant</h2>
    <p>Causes et menaces pour 3430 populations d'animaux suivis (surtout vertébrés)</p>
    
    <div class="w9">
      <canvas data-chart="doughnut">
        <!-- {
        "data": {
          "labels": ["Dégradation et perte d'habitat", "Surexploitation", "Changement climatique", "Espèces et gènes invasifs, prédation, compétition", "Pollutions diverses", "Maladies"],
          "datasets": [
            { "label":"", "data":[44.8, 37, 7.1, 5.1, 4, 2],
              "backgroundColor": ["#DA1E53", "#007491", "#7C3089", "#00C2C4", "#F7A536", "#8EC043"] }
          ]
        },
        "options": {
          "title": {
            "text": [
              "Principales menaces pour les populations d’espèces (selon l'Indice Planète Vivante).", "Données WWF et Zoological Society of London (2014). 🔷"
            ]
          },
          "cutoutPercentage": 60
        }
      } -->
      </canvas>
    </div>

    <aside class="notes" data-markdown>
      __0:27:00__
      * 
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>
        « Informations relevées pour 3 430 populations de l’Indice Planète Vivante réparties en 7 catégories. Les autres populations ne sont pas prises en compte, soit parce qu’elles ne sont pas menacées, soit par manque d’information (WWF, ZSL, 2014). »
        <a href="https://www.wwf.fr/sites/default/files/doc-2017-09/14_rapport_lpr2014.pdf">
        WWF - Rapport planète vivante 2014</a>. p. 20, fig 11.
      </li>
    </ul>
    <p><b>Ressource</b></p>
    <ul>
      <li>
        Rapport sur la biodiversité en France par l'Observatoire National de la Biodiversité
        <a href="http://www.driee.ile-de-france.developpement-durable.gouv.fr/IMG/pdf/biodiversite-les-chiffres-cles-edition-2018-decembre2018a_1_.pdf">
        Biodiversité Les chiffres clés - Édition 2018</a>
      </li>
    </ul>
  </section>

</section>
