<section>

  <section data-transition="slide">
    <h2>Écologie</h2>
    <p>Qu'est-ce que c'est ?</p>
    
    <div class="w10 txt-l">
      <p>
        <b>Écologie</b> <em>(Ernst Haeckel)</em>.
        Discipline scientifique qui étudie les relations des organismes vivants avec le monde environnant <em>→ lumière, eau, nutriments, sol, conditions atmosphériques, interaction avec d'autres organismes (coopération, rivalité...)</em> → les « conditions d'existence » des organismes 🔷
      </p>

      <p class="fragment">
        <b>Écologie politique</b>. Courants de pensée qui militent pour une prise en compte forte des relations des humains entre eux et avec leur habitat/environnement (les écosystèmes terrestres).
        <br/>
        <span class="block mt16">Exemples rapides :</span>
      </p>
      

      <ul>
        <li class="fragment">
          <span class="txt-bold">Écologisme</span>. Idéologies qui visent au respect, à la protection, préservation et/ou restauration de l'environnement 🔶
        </li>
        <li class="fragment">
          <span class="txt-bold">Conservatisme environnemental</span>. Idéologies qui encouragent la préservation de l'héritage territorial et environnemental d'une nation ou d'une culture. 🔶
        </li>
      </ul>
      

    </div>

    <aside class="notes" data-markdown>
      __0:XX:XX__
    </aside>

  </section>

  <section>
    <p><b>Sources</b></p>
    <ul>
      <li>
        « By ecology, we mean the whole science of the relations of the organism to the environment including, in the broad sense, all the “conditions of existence.” [...] Among the inorganic conditions of existence to which every organism must adapt itself belong, first of all, the physical and chemical properties of its habitat, the climate. [...] As organic conditions of existence we consider the entire relations of the organism to all other organisms with which it comes into contact, and of which most contribute either to its advantage or its harm.»
        “Oecologie und Chorologie” (Haeckel 1866, II:286–289, reprinted in Acot 1998:II, 703–706). (translated by Stauffer 1957:140–141). via: 
        <a href="https://esajournals.onlinelibrary.wiley.com/templates/jsp/_ux3/_pericles/pdf-viewer/web/viewer.html?file=/doi/pdfdirect/10.1890/0012-9623-94.3.222#page=5&zoom=auto,-17,555">
        History of Ecological Sciences, Part 47: Ernst Haeckel’s Ecology (p.226)</a> 🔷
      </li>
    </ul>
  </section>

</section>
