<section>

  <section data-transition="slide">
    <h2>Anthropocène</h2>
    <p>Une question écologique et politique</p>

    <div class="w10">
      <ul>
        <li class="mb16">
          <span class="txt-line-through op80">Être sympa avec la nature</span><br/>
          Choisir comment <b>conserver les conditions d'habitabilité</b> de notre planète pour les 8 milliards d'humains (et les êtres vivants en général)
        </li>
        <li class="mb16 fragment">
          <span class="txt-line-through op80">Développer les technologies qui permettent le développement durable</span><br/>
          Choisir <b>comment vivre ensemble en terme de qualité</b> (buts, solidarité et empathie) plutôt qu'en terme de quantité (biens matériels)
        </li>
        <li class="mb16 fragment">
          <span class="txt-line-through op80">Subir les aléas climatiques et sociaux</span><br/>
          Choisir comment <b>recréer des sociétés</b> capables d'absorber les chocs écologiques et sociaux
        </li>
      </ul>
      <p class="fragment">Ce cours tentera de poser un cadre pour réfléchir à ces questions</p>
    </div>

    <aside class="notes" data-markdown>
      __0:11:30__
      * Être sympa... → question de survie à long terme
      * Développer les technos... → la réflexion doit être plus profonde que ça
      * Subir les aléas climatiques et sociaux → ils ont commencé, le COVID-19 en est un
      
      "Choisir comment" → décision collective, politique, démocratique

      Écologie → science qui étudie comment on habite la Terre
      Écologie politique → Mouvements politiques qui disent comment on doit l'habiter
    </aside>

  </section>

</section>
