<section>

  <section data-transition="slide">
    <h2>Anthropocène</h2>
    <p>La Grande Accélération 🧪</p>

    <img src="/assets/img/great-acceleration-{{ global.theme }}.svg">

    <aside class="notes" data-markdown>
      __0:02:00__
      * 
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>
        « Socio-economic and Earth system trends »
        <a href="https://www.researchgate.net/publication/272418379_The_Trajectory_of_the_Anthropocene_The_Great_Acceleration">
        The Trajectory of the Anthropocene: The Great Acceleration</a>. DOI: 10.1177/2053019614564785 🧪
        via <a href="https://www.eea.europa.eu/data-and-maps/figures/indicators-for-global-socio-economic">
        European Environment Agency</a>.
      </li>
    </ul>
  </section>

</section>
