<section>

  <section data-transition="slide">
    <h2>Chute du vivant</h2>
    <p></p>

    <div class="w11 txt-l">
      <canvas data-chart="horizontalBar">
        <!-- {
          "data": {
            "labels": [
              "Virus", "Procaryotes (Bactéries, Archées)", "Fungi (avec Lichens)", "Plantes (Mousses, Algues, Trachéophytes)", "Crustacées", "Mollusques", "Nématodes", "Arachnides", "Insectes", "Autres invertébrés", "Cordés (Mammifères, Oiseaux, Poissons)", "Autres eucaryotes"
            ],
            "datasets": [
              { "label": "Décrites",
                "data":[0.002085, 0.010307, 0.098998, 0.310129, 0.047, 0.085, 0.025, 0.102248, 1, 0.100117, 0.064788, 0.053915],
                "backgroundColor": "#349680" },
              { "label": "Non-décrites (estimations)",
                "data":[0.397915, 1.08197, 1.401, 0.080671, 0.103, 0.115, 0.475, 0.497752, 4, 0.205713, 0.015712, 1.14659],
                "backgroundColor": "#554466" }
            ]
          },
          "options": {
            "title": { "text": [ 
              "Distribution du nombre d'espèces décrites et non-décrites estimées par groupe taxonomique.",
              "Données Australian Biological Resources Study (2009). 🧪" ] },
            "scales":{
              "xAxes": [{
                "stacked": "true",
                "ticks": { "stepSize": 1 },
                "scaleLabel" : { "display": "true", "labelString": "Nombre d'espèces (millions)" } }],
              "yAxes": [{
                "stacked": "true",
                "gridLines": {
                  "color": "#0000"
                } }] },
            "legend": { "position": "top" },
            "plugins": { "datalabels": { "opacity": "0" } }
          }
        } -->
      </canvas>
    </div>

    <aside class="notes" data-markdown>
      __0:32:00__
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Sources</b></p>
    <ul>
      <li>
        Chapman, A. D.
        <a href="https://www.researchgate.net/publication/266375631_Numbers_of_Living_Species_in_Australia_and_the_World_2nd_edn">
        Numbers of Living Species in Australia and the World 2nd edition</a> (2009). 🧪
        <br/> via 
        <a href="https://commons.wikimedia.org/wiki/File:Species_Distribution_Biodiversity_after_Chapman_2009.png">
        Gregor Hagedorn Wikipedia contribution</a>: <br/>
        « The data are taken from Chapman 2009, summarized and with some estimates added for yet to describe species. The following changes were made: Many smaller groups aggregated (other Invertebrates encompasses more groups than in the original publication); Agnatha, Cephalochordata, Tunicata, Algae were estimated to have at least 1.5× as many final species; Cyanophyta was estimated to have same known/unknown ratio as Protoctista. »
      </li>
    </ul>
  </section>

</section>
