<section>

  <section>
    <p>Répondre au dérèglement climatique, par où commencer ?</p>
    <h2 class="mt64 mb32">Comprendre les enjeux des émissions de GES</h2>
    <p class="op70">
      dioxyde de carbone (CO<sub>2</sub>)
      · méthane (CH<sub>4</sub>)
      · protoxyde d'azote (N<sub>2</sub>O)...</p>

    <aside class="notes" data-markdown>
      __1:19:00__
    </aside>

  </section>

</section>
