<section>

  <section data-transition="slide">
    <h2>Chute du vivant</h2>
    <p>Comment mesurer la chute du vivant ?</p>

    <div class="w11 txt-l">
      <p>
        <b>Idée.</b> Quantifier le nombre d'individus ? ou leur masse ? ou leur diversité ?
      </p>

      <p><b>Idée.</b> La biodiversité est une notion qui intervient à 3 niveaux :</p>
      <ul>
        <li>diversité des écosystèmes <em>→ relations entre des êtres vivants au sein d'un environnement</em></li>
        <li>diversité des espèces vivantes <em>→ individus qui peuvent se reproduire entre eux dans des conditions naturelles</em></li>
        <li>diversité génétique <em>→ variété des gènes au sein d'une même espèce</em></li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:30:00__
    </aside>

  </section>

</section>
