<section>

  <section>
    <h2>Dérèglement climatique</h2>
    <p>Que veut dire urgence climatique ?</p>
    
    <div class="w10 txt-l">
      <p class="mb2"><b>Incertitudes des risques climatiques</b></p>
      <ul>
        <li>Franchir les limites/seuils climatiques c'est plonger dans l'inconnu. On ne sait pas dans quelle mesure la nouvelle situation climatique pourra subvenir aux besoins de 8 milliards d'humains (alimentation, santé et sécurité).</li>
      </ul>

      <p class="mb2"><b>Inertie du climat</b></p>
      <ul>
        <li>Les actions d'aujourd'hui ne prennent effet que dans 15 ans. Les aléas climatiques d'aujourd'hui sont les conséquences des émissions d'avant ≈2006.</li>
      </ul>

      <p class="mb2"><b>Les risques n'évoluent pas linéairement</b></p>
      <ul>
        <li>+4°C de réchauffement, ce n'est pas deux fois plus grave que +2°C, ça l'est beaucoup plus. <br/> Un réchauffement de +2°C aura déjà beaucoup de conséquences.</li>
      </ul>

      <p class="mb2"><b>Certitudes liés au climat</b></p>
      <ul>
        <li>Les temps de résidence des GES dans l'atmosphère sont très longs (surtout pour le CO2). <br/> À l'échelle du siècle, pour le CO2, on peut dire que c'est irréversible.</li>
        <li>Une intervention humaine pour recapturer les GES demandent beaucoup d'énergie.</li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __1:12:00__
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Ressource</b></p>
    <ul>
      <li>
        
        <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/WG1AR5_Chapter06_FINAL.pdf#page=9">
        IPCC (GIEC) AR5 (2014)</a>. Chapter 6 - Carbon and Other Biogeochemical Cycles. Box 6.1. Fig1. Multiple Residence Times for an Excess of Carbon Dioxide Emitted in the Atmosphere. p 473. 🧪🧪
      </li>
    </ul>
  </section>

</section>
