<section>

  <section data-transition="slide">
    <h2>Conséquences du dérèglement climatique</h2>
    <p>Le réchauffement de la température de surface n'est pas uniforme</p>

    <div class="w11">
      <img src="/assets/img/ipcc-disparate-temperature-{{ global.theme }}.svg">
      <p>
        🧪🧪
        <a href="https://www.ipcc.ch/site/assets/uploads/sites/2/2019/06/SR15_Full_Report_Low_Res.pdf#page=297">
          IPCC (GIEC) SR15 FAQ3.1.Fig1
        </a> (2018)
      </p>
    </div>

    <aside class="notes" data-markdown>
      __1:48:00__
      * GIEC
      * Continent
      * Arctique
    </aside>

  </section>

</section>
