<section>

  <section data-transition="slide">
    <h2>Comprendre les enjeux des émissions de GES</h2>
    <p>Principaux postes d'émissions · 50 GtCO2eq au total</p>
    <br />
    
    <div class="w10">
      <canvas data-chart="doughnut">
        <!-- {
        "data": {
          "labels": ["CO2 Charbon", "CO2 Pétrole", "CO2 Gaz",
              "CO2 Fabrication du ciment", "CO2 Autres",
              "CH4 Émissions fugitives", "CH4 Rizières",
              "CH4 Élevage bovin et fumiers", "CH4 Déchèteries", "CH4 Autres",
              "N2O Agriculture (engrais azotés)", "N2O Autres",
              "Gaz fluorés"],
          "datasets": [
            { "data":[28, 22.5, 12.5,
                4.5, 8.5,
                4.3, 1.3,
                5.5, 2.5, 2.4,
                4.5, 1.5,
                2],
              "backgroundColor": ["#175c73", "#1b6b86", "#1e7a99",
                  "#228aac", "#374852",
                  "#75408F", "#9854BA", "#A95DCF",
                  "#C973E9", "#80509F",
                  "#EE9966", "#AF6741",
                  "#FF2233"] } ]
        },
        "options": {
          "title": { "text": [
            "Contribution des différents GES émis par les activités humaines (monde).",
            "Données compilées par l'auteur 🔶 depuis : IPCC (2014), World Ressources Institute, Climate Watch Data, The Shift Project." ] },
          "cutoutPercentage": 60,
          "plugins": { "datalabels": { "opacity": "0" } }
        }
      } -->
      </canvas>
    </div>

    <aside class="notes" data-markdown>
      __1:32:30__
      * D'où viennent ces émissions de GES ?
    </aside>

  </section>

  <section data-transition="slide">
      <p><b>Sources</b></p>
    <ul>
      <li>World Ressources Institute <a href="https://www.wri.org/resources/data-visualizations/world-greenhouse-gas-emissions-2016">https://www.wri.org/resources/data-visualizations/world-greenhouse-gas-emissions-2016</a> 🔷</li>
      <li>The Shift Project <a href="https://theshiftproject.org/wp-content/uploads/2019/03/ZEY-Combloux-16032019.pdf">https://theshiftproject.org/wp-content/uploads/2019/03/ZEY-Combloux-16032019.pdf</a> 🔷</li>
      <li>World in data <a href="https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions">https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions</a></li>
    </ul>
  </section>

</section>
