<section>

  <section data-transition="slide">
    <h2>Conséquences du dérèglement climatique</h2>
    <p>La France métropolitaine découpée en bioclimats et leur projection en climat futur</p>

    <div class="w12">
      <img style="width: 100%" src="/assets/img/biogeographic-areas-france-{{ global.theme }}.svg">
      <p>Répartition géographique de groupes d’espèces d'arbres de même affinité climatique.<br/>
      Données Badeau et al. (2010). 🧪</p>
    </div>

    <aside class="notes" data-markdown>
      __1:57:30__
      * Incertitudes → ce ne sont que des tendances
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>
        D. Lousteau, Forests, Carbon cycle and climate change, Quae, (2010). Chapter 11 by Badeau et al.
        <a href="https://www.researchgate.net/profile/Jean-Luc-Dupouey/publication/313713636_Climate_change_and_the_biogeography_of_French_tree_species_first_results_and_perspectives/links/597862c6aca27203ecc30443/Climate-change-and-the-biogeography-of-French-tree-species-first-results-and-perspectives.pdf#page=26">
        Climate change and the biogeography of French tree species: dirst results and perspectives.</a> p. 256. plate 16. fig 11-8. 🧪
      </li>
    </ul>
  </section>

</section>
