<section>

  <section>
    <h2>La crise de l'Anthropocène</h2>

    <div class="w10 txt-l">
      <p><b>Définition vague.</b> Époque fortement marquée par l'impact des activités humaines sur les écosystèmes.</p>
      
      <div class="flex align-items-baseline mt32 justify-center">
        <div class="w4 txt-r">Ressources primaires</div>
        <div class="mx8">$ \longrightarrow $</div>
        <div class="mx8 p16 boxed">Activités</div>
        <div class="mx8">$ \longrightarrow $</div>
        <div class="w4">Biens et déchets</div>
      </div>
      <div class="flex justify-center mt8">
        <em class="txt-sm">250 000 000 tonnes par jour (2017) 🔷</em>
      </div>

      <p><b>Idées importantes</b></p>
      <ul>
        <li class="mb16">
          Cette crise menace les conditions d'habitabilité de la Terre pour 8 milliards d'humains
          <br/><em>→ alimentation, santé, sécurité</em>
        </li>
        <li class="mb16">
          Le dérèglement climatique, la chute du vivant ne sont que des conséquences. La racine du problème, c'est l'intensité matérielle des activités humaines.
        </li>
        <li class="mb16">
          Il n'y a pas de solution simple. Tout est imbriqué, chaque réponse est imparfaite car elle se heurte à la complexité de sa question.
        </li>
        <li class="mb16">
          Bien comprendre le problème est indispensable pour adopter une <b>stratégie adaptée</b>.
        </li>
        <li class="mb16">
          On ne peut pas rester cloisonné dans sa discipline. Il faut raisonner en interaction avec les autres domaines pour avoir une <b>stratégie cohérente</b>.
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __2:11:00__
    </aside>

  </section>

  <section>
    <p><b>Sources et calculs</b></p>
    <ul class="w12">
      <li>
        « The material footprint per capita has also increased at an alarming rate. [...] In 2017, that rose to 12.2 metric tons »
        <a href="https://unstats.un.org/sdgs/report/2019/goal-12/">
        United Nations - Goal 12: Responsible consumption and production - Material footprint per capita, 2000 and 2017</a>
        Empreinte matérielle dans le monde : <br/>
        12.2 tonnes/hab/an * 7 500 000 000 hab / 365 j = 250 Mtonnes/j
      </li>
    </ul>
  </section>

</section>
