<section>

  <section data-transition="slide">
    <h2>Conséquences du dérèglement climatique</h2>
    <p class="mb0">
      Risques concernant les terres émergées · 🧪🧪
      <a href="https://www.ipcc.ch/site/assets/uploads/sites/4/2020/02/SPM_Updated-Jan20.pdf#page=21">
        IPCC (GIEC) CCL SPM p.16
      </a> (2019)
    </p>

    <div class="w12" style="margin-top: -24px">
      <img src="/assets/img/ipcc-risks-{{ global.theme }}.svg">
    </div>

    <aside class="notes" data-markdown>
      __1:55:00__
    </aside>

  </section>

</section>
