<section>

  <section>
    <h2>L'État</h2>
    <p>la société, le politique et l'État</p>

    <div class="w11 txt-l">
      <p class="fragment">
        <b>la Société</b>.
        Ensemble de personnes qui partagent des normes, des comportements et une culture, qui coopèrent et vivent ensemble.
      </p>

      <p class="fragment">
        <b>le Politique</b>.
        C'est l'administration des choses (la distribution des biens et du statut des individus, la régulation des conflits) et le gouvernement des individus ; dans une société avec ou sans loi.
      </p>

      <div class="fragment">
        <p class="mb4"><em>(Georges Balandier, ethnologie et anthropologie politique)</em><br/>
          « Seuls » quatre éléments sont nécessaires :
        </p>
        <ul>
          <li>une société d'individus</li>
          <li>l'organisation des choses de l'intérieur et des relations avec l'extérieur</li>
          <li>une justification des inégalités, des statuts, de la hiérarchie des individus <em>→ en fonction de l'âge...</em></li>
          <li>la sacralisation de cet ordre <em>→ tradition, religion...</em></li>
        </ul>
      </div>

      <p class="fragment">
        <b>l'État</b>.
          Pouvoir politique institué en vue d’organiser la société dans la paix au moyen de la loi et de la puissance publique. Il possède le « monopole de la violence légitime » (Max Weber).
      </p>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__ \
      * le politique = le domaine du politique

      Anthropologie politique :
      * statuts: hiérarchie (prestige en fonction de l'âge...)
      * sacralisation de cet ordre: cet ordre ne résulte pas d'un rapport de force à un instant t mais de quelque chose qui transcende cela. 

      
      * « nul ne peut se faire justice à soi-même »
    </aside>
  </section>
  
</section>
