<section>

  <section>
    <h2>La démocratie</h2>
    <blockquote>
      <div class="content op90">
        Personne ne prétend que la démocratie est parfaite ou omnisciente. En effet, on a pu dire qu'elle était la pire forme de gouvernement à l'exception de toutes celles qui ont été essayées au fil du temps; mais il existe le sentiment, largement partagé dans notre pays, que le peuple doit être souverain, souverain de façon continue, et que l'opinion publique, exprimée par tous les moyens constitutionnels, devrait façonner, guider et contrôler les actions de ministres qui en sont les serviteurs et non les maîtres. 
      </div>
      <div class="meta">
        Winston Churchill (1947)
      </div>
    </blockquote>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>

  <section>
    <b><p>Source</p></b>
    <ul>
      <li>
        « No one pretends that democracy is perfect or all-wise. Indeed, it has been said that democracy is the worst form of Government except all those other forms that have been tried from time to time; but there is the broad feeling in our country that the people should rule, continuously rule, and that public opinion, expressed by all constitutional means, should shape, guide, and control the actions of Ministers who are their servants and not their masters. » Winston Churchill le 11 novembre 1947 à la Chambre des Communes
        <a href="https://api.parliament.uk/historic-hansard/commons/1947/nov/11/parliament-bill#column_207">
        PARLIAMENT BILL HC Deb 11 November 1947 vol 444 cc203-321 column 207</a>
      </li>
    </ul>
  </section>
  
</section>
