<section>

  <section>
    <h2>La démocratie</h2>
    <p>« Un gouvernement du peuple, par le peuple, pour le peuple »</p>

    <div class="w9 txt-l fragment">
      <ul>
        <li class="mb16">
          <b>Citoyenneté</b>.
          Être citoyen·ne signifie faire partie du corps politique, participer à la conduite de la politique.
        </li>
        <li class="mb16">
          <b>Séparation des pouvoirs</b>.
          Indépendance des corps qui exercent les pouvoirs législatif, exécutif et judiciaire.
        </li>
        <li class="mb16">
          <b>Liberté</b>
          de conscience, de culte, d'expression, de la presse, d'association...
        </li>
        <li class="mb16">
          <b>Égalité</b>
          face à la loi.
        </li>
      </ul>

      <p><b>Libéralisme</b> <em>→ en démocratie libérale, les droits individuels prévalent sur l'autorité de l'État</em></p>
      <ul>
        <li>le droit de propriété <em>→ de posséder des biens, d'en acheter et d'en vendre</em></li>
        <li>la responsabilité individuelle <em>→ chacun·e est entrepreneur·euse de décisions et en assume les conséquences (récompenses ou blâmes)</em></li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Libéralisme: propriété → marché ; responsabilité → entreprise
    </aside>
  </section>
  
</section>
