<section>

  <section>
    <h2>La démocratie</h2>
    <p>les contre-pouvoirs à l'autorité publique en France</p>

    <div class="w11 txt-l">
      <p><b>Contre-pouvoir</b>. Force politique ou économique qui influence, contrôle, dénonce et limite le pouvoir établi.</p>
      <p>Ils sont nécessaires en démocratie.</p>

      <ul>
        <li class="mb16 fragment">
          <p><b>l'État de droit</b> : les gouvernants et les gouvernés sont soumis aux mêmes lois. Le Droit prévaut sur le pouvoir autoritaire de l'État
          <em>→ la Constitution en est une illustration</em></p>
          <p>L'État de Droit se veut protecteur des individus face aux gouvernants qui abuseraient de leur pouvoir.</p>
        </li>
        <li class="mb16 fragment">
          <b>les partis politiques d'opposition</b>
          <em>→ critiquent et/ou contrôlent l'action gouvernementale</em>
          <ul>
            <li>
              Questions au gouvernement posés par les députés et les sénateurs
              <em>→ chaque semaine</em>
            </li>
            <li>
              Commissions d'enquête parlementaires
              <em>→ affaire Benalla, gestion du COVID-19</em>
            </li>
            <li>
              au Royaume-Uni : le « Shadow cabinet » composé de députés de l'opposition
            </li>
          </ul>
        </li>
        <li class="mb16 fragment">
          <b>les lobbies</b> (groupes d'intérêts) associatifs, syndicaux, industriels
          <em>→ manifestations et lobbying</em>
        </li>
        <li class="mb16 fragment">
          <b>les médias</b>
          <em>→ interviews des gouvernants, critiques des politiques adoptées...</em>
        </li>
        <li class="mb16 fragment">
          <b>l'opinion publique</b>
          <em>→ manifestations, rencontres avec les gouvernants (salon de l'agriculture...)</em>
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * les libertés d'association, de la presse et d'expression sont nécessaires
    </aside>
  </section>
  
</section>
