<section>

  <section>
    <h2>La démocratie</h2>
    <p>Différentes expressions de la citoyenneté</p>

    <div class="w9 txt-l">
      <ul class="fragment">
        <li class="mb16">
          <b>Démocratie directe</b>.
          Les citoyen·ne·s élaborent directement les lois et décide de leur adoption
          <em>→ cité antique d'Athènes, certains courants anarchistes</em>
        </li>
        <li class="mb16">
          <b>Démocratie représentative</b>.
          Les citoyen·ne·s élisent des représentants qui établissent et/ou appliquent la loi. Les élus sont au service du peuple.
        </li>
      </ul>

      <div class="fragment">
        <p><b>Deux extrêmes qu'il faut nuancer</b></p>
        <p>La citoyenneté c'est participer à la vie publique</p>
        <ul>
          <li class="mb16">
            <span class="txt-bold">Engagement associatif</span>.
            Caritatif, humanitaire, militantisme...
          </li>
          <li class="mb16">
            <span class="txt-bold">Participation citoyenne</span>.
            Référendum local ou national, conseil de quartier, consultation en ligne...
          </li>
        </ul>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>
  
</section>
