<section>

  <section>
    <h2>L'État</h2>
    <p>les pouvoirs de l'État</p>

    <div class="w10 txt-l">
      <p>Le <b>législatif</b> (concevoir la loi), l'<b>exécutif</b> (l'appliquer) et le <b>judiciaire</b> (gérer les enfreintes à la loi)</p>

      <div class="fragment">
        <p class="mb4"><b>Pouvoirs et fonctions dites « régaliennes »</b></p>
        <ul class="mb16">
          <li>Garantir la sécurité <em>→ maintien de l'ordre</em></li>
          <li>Garantir la défense <em>→ diplomatie, science militaire</em></li>
          <li>Effectuer la levée des impôts <em>→ souveraineté budgétaire</em></li>
          <li>Dire le droit et rendre la justice</li>
          <li>Émettre la monnaie</li>
        </ul>
      </div>

      <div class="fragment">
        <p>Certains considèrent que la fonction de l'État ne se limite pas aux pouvoirs régaliens :</p>
        <ul>
          <li class="mb8">
            <b>État-providence</b> (ou État-social) :
            <em>garantie à l'éducation, à la santé, au développement économique, aux transports, à l'assurance chômage/retraite, à la protection des écosystèmes...</em>
          </li>
          <li class="mb8">
            <b>État totalitaire</b> :
            <em>garantie une idéologie unique, un chef unique (dictature), un contrôle autoritaire des moyens de communication (médias) et des individus par la terreur...</em>
          </li>
        </ul>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * législatif: gouvernement, parlement
      * exécutif: gouvernement, fonctionnaires (administrations), 
      * judiciaire: tribunaux (juridictions)
    </aside>
  </section>
  
</section>
