<section>

  <section>
    <h2>Petit sommaire</h2>
    <div class="w11">
      <ul>
        <li class="mb8">
          <span class="txt-bold">l'État</span>
          <em>→ contrat social, pouvoirs, contre-pouvoirs, dictature...</em>
        </li>
        <li class="mb8">
          <span class="txt-bold">les démocraties</span>
          <em>→ citoyenneté, séparation des pouvoirs, liberté, égalité...</em>
        </li>
        <li class="mb8">
          <span class="txt-bold">le coût et les travers de la démocratie</span>
          <em>→ tyrannie de la majorité, court-termisme...</em>
        </li>
        <li class="mb8">
          <span class="txt-bold">les États fédéraux et la décentralisation</span>
          <em>→ exemples brefs</em>
        </li>
        <li class="mb8">
          <span class="txt-bold">l'engagement citoyen pour le climat et le vivant</span>
          <em>→ démocratie participative et délibérative</em>
        </li>
        <li class="mb8">
          <span class="txt-bold">les assemblés citoyennes</span>
          <em>→ en Irlande, la convention citoyenne pour le climat</em>
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * On dit souvent qu'il faut changer le système
      * Alors il est d'abord nécessaire de le connaître et de le comprendre
    </aside>
  </section>
  
</section>
