<section>

  <section>
    <h2>La démocratie a un coût</h2>
    <p>« On a rien sans rien »</p>

    <div class="w11 txt-l">
      <p class="mb8"><b>Elle demande du temps</b></p>
      <ul>
        <li class="mb16">
          les législateurs doivent prendre sur leur temps « de travail »<br/>
          <em>La cité antique d'Athènes était une démocratie directe masculine esclavagiste (10-20% de citoyens)</em>
        </li>
        <li class="mb16">
          les changements se font lentement
          <em>→ pas forcément une mauvaise chose, pas toujours une bonne chose</em>
        </li>
      </ul>
      
      <p class="mb8"><b>Elle indemnise ceux qui mènent le service public</b></p>
      <ul>
        <li class="mb4">
          payé par le bénéficiaire
          <em>→ musées, bibliothèques, transports ferroviaires...</em>
        </li>
        <li class="mb4">
          financé par l'impôt
          <em>→ école, hopital, radio, télévision, administrations...</em>
        </li>
        <li class="mb4">
        payé par un intermédiaire publique
          <em>→ assurance maladie...</em>
        </li>
      </ul>

      <p class="mb8 mt32"><b>Elle doit garantir l'existence des contre-pouvoirs</b></p>
      <ul>
        <li class="mb4">
          Financement des partis politiques <em>→ ex. : montant proportionnel aux suffrages</em>
        </li>
        <li class="mb4">
          Subventions versées aux associations
        </li>
        <li class="mb4">
          Aides à la presse
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>
  
</section>
