<section>

  <section>
    <h2>La démocratie et l'information</h2>
    <p>La pédagogie faite par les gouvernants</p>

    <div class="txt-l mb32">
      <p><b>Exemple de la votation populaire (référendum) du 13 juin 2021 en Suisse sur la « loi sur le CO2 révisée »</b></p>
    </div>

    <div class="r-hstack txt-l">
      <div class="w6">
        <p>Vidéo explicative du Conseil fédéral suisse <br/>destinée aux citoyen·ne·s :</p>
        <video controls>
          <source src="/assets/videos/switzerland-law-co2.mp4" type="video/mp4">
          Cannot display the video (Original: https://www.admin.ch/gov/fr/accueil/documentation/votations/20210613/loi-sur-le-CO2.html)
        </video>
      </div>
      <div class="w6">
        <p><b>Objectifs et contenu de la loi</b></p>
        <ul>
          <li class="mb16">
            Réduire de moitié les émissions de CO2 d'ici 2030 par rapport aux niveaux d'émissions de 1990
          </li>
          <li class="mb16">
            Taxe CO2 : mazout, gaz naturel, billets d'avion
          </li>
          <li class="mb16">
            Création d'un « Fonds pour le climat »
          </li>
          <li class="mb16">
            Mesures incitatives visant les entreprises et nouvelles normes énergétiques pour le bâtiment
          </li>
        </ul>
        <p><b>Avis défavorables</b>. Inefficacité, coûts, injustice sociale...</p>
        <p><b>Avis favorables</b>. La loi est une couche de protection face aux aléas. Ne rien faire coûterait davantage.</p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Malgré les imprécisions, remarquable travail de pédagogie
      * Présence de l'avis des contradicteurs
      * MAIS ne pas oublier que l'éditeur de la vidéo prend partie
    </aside>
  </section>

  <section>
    <p><b>Source</b></p>
    <ul>
      <li>
        « Le 13 juin 2021 le peuple suisse va s'exprimer sur la loi fédérale du 25 septembre 2020 sur la réduction des émissions de gaz à effet de serre (loi sur le CO2). ». Conseil fédéral suisse (11/05/2021).
        <a href="https://www.admin.ch/gov/fr/accueil/documentation/votations/20210613/loi-sur-le-CO2.html">
          Votation populaire du 13 juin 2021 - Loi sur le CO2</a>
      </li>
    </ul>
  </section>

</section>
