<section>

  <section>
    <h2>La démocratie et l'information</h2>
    <p>Nécessité, pour le peuple, d'accéder à une information de qualité</p>

    <div class="w11 txt-l">
      <p class="mb8"><b>On ne prend pas de décision à l'aveugle</b> <em>→ sinon, on a toutes les chances de se rater</em></p>
      <ul>
        <li class="mb8">
          Il faut apprendre, se former sur les éléments factuels
          <em>→ les faits ne se discutent pas*</em>
        </li>
        <li class="mb8">
          Il faut se forger une opinion politique
          <em>→ à partir des faits, de son expérience et de ses valeurs éthiques</em>
        </li>
      </ul>
      
      <p class="mb8"><b>Les médias répondent à cela</b> <em>→ média : support de diffusion de l'information</em></p>
      <ul>
        <li class="mb8">
          Médias de masse « traditionnels » : radio, TV, presse écrite et en ligne, livres...
        </li>
        <li class="mb8">
          Médias de masse « nouveaux » : blogs, réseaux sociaux (Twitter, Instagram, Youtube, Reddit, Discord...)
        <li class="mb8">
          Médias « autres » : affiches, conférences, communiqués de presse, débats au bistrot, enseignement...
        </li>
      </ul>

      <p class="mb8"><b>Idées importantes</b></p>
      <ul>
        <li class="mb8">
          Les médias de masse sont un outil de pouvoir
          <em>→ ils définissent les sujets de débat politique (l'agenda politique)</em>
        </li>
        <li class="mb8">
          Une information est souvent politiquement orientée
          <em>→ un bon esprit critique est indispensable</em>
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>

  <section>
    <p><b>Précisions</b></p>
    <ul>
      <li>* « les faits ne se discutent pas », je n'aime pas vraiment cette phrase. Pour être exact, un phénomène décrit en toute objectivité ne se discute pas, oui. Mais, le problème est qu'il est impossible de décrire un phénomène en toute objectivité: le choix des mots, le contexte d'énonciation, la perception de ce phénomène par l'individu qui énonce le fait, ce que comprend réellement son interlocuteur... Tous les faits rapportés sont, par conséquent, subjectifs et donc discutables. On s'accordera pour dire que certains sont « moins discutable » que d'autres, c'est de ceux là dont je parle. Ex. : Telle personne a été condamné pour recel ; Chirac a été président de la République ; Le dérèglement climatique est causé par Homo Sapiens...</li>
    </ul>
    <p><b>Ressource</b></p>
    <ul>
      <li>
      Association Régionale N°19 (AR 19) des Auditeurs de l’IHEDN Midi-Pyrénées, 2014. <a href="http://aa-ihednmidi-pyrenees.org/IMG/pdf/AR19_DEmocratie_et_Journalisme.pdf">L'information, clef de la démocratie ?</a>
      </li>
    </ul>
  </section>
  
</section>
