<section>

  <section>
    <h2>La démocratie et l'information</h2>
    <p>Comment avoir des médias de masse qualitatifs ?</p>

    <div class="w11 txt-l">
      <p class="mb8"><b>Indépendance des médias de masse.</b> Indépendance face aux gouvernants et aux intérêts privés. Permet de proposer une information la plus objective possible.</p>

      <p class="mb8"><b>Pluralisme des médias de masse</b>. Diffusion d'une diversité d'éléments factuels et d'opinions politiques. Permet de traiter tous types de sujets de débat avec des angles de vue variés.</p>

      <p class="mb8"><b>Du temps pour traiter l'actualité</b>. Le manque de temps pour vérifier, clarifier et mettre en forme l'information entraîne forcément une perte de qualité dans l'information.</p>

      <p class="mb8"><b>Des connaissances sur les sujets techniques</b>. Ou au moins des règles de processus pour les domaines techniques, afin d'éviter les erreurs grossières <em>→ erreur technique, erreur d'interprétation de papiers scientifiques, simplification de l'information (elle devient donc fausse et/ou perd de son objectivité), etc.</em></p>

      <p class="mt32 mb8"><b>Exemple de menaces</b></p>
      <ul>
        <li class="mb8">
          Détention des médias par une minorité de propriétaires milliardaires
          <em>→ la presse en France ?</em>
        </li>
        <li class="mb8">
          Bulles de filtrage
          <em>→ les réseaux sociaux qui sélectionnent les informations à afficher pour l'utilisateur</em>
        </li>
        <li class="mb8">
          Fake news et la loi de brandolini
          <em>→ « démonter une connerie prend beaucoup plus de temps que de la diffuser »</em>
        </li>
      </ul>

    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Des connaissances sur la technique → Journalistes doivent connaître et suivre des règles de processus pour ne pas dire des énormités → Lorsque les médias sont désarmés face à la complexité, ils s'attaquent à la forme et pas au fond
    </aside>
  </section>

  <section>
    <p><b>Ressource</b></p>
    <ul>
      Serge Halimi, 2012, Les Nouveaux Chiens de garde.
    </ul>
  </section>
  
</section>
