<section>

  <section data-transition="slide">
    <h2>Anthropocène</h2>
    <p>Activités économiques</p>
    
    <div class="w8 txt-l">
      <p>
        <b>Secteur primaire.</b> Agriculture, pêche,
        exploitation forestière, minière...
      </p>

      <div class="fragment" data-fragment-index="0">
        <div class="txt-c">
          $ \downarrow $
          <span class="ml8 txt-sm op70 fragment" data-fragment-index="2">
            alimente
          </span>
        </div>
        <p>
          <b>Secteur secondaire.</b> Agroalimentaire,
          sidérurgie, artisanat, bâtiments et travaux publics,
          construction mécanique, électronique, industrie du bois,
          du textile, du papier...
        </p>
      </div>

      <div class="fragment" data-fragment-index="1">
        <div class="txt-c">
          $ \downarrow $
          <span class="ml8 txt-sm op70 fragment" data-fragment-index="2">
            alimente
          </span>
        </div>
        <p>
          <b>Secteur tertiaire.</b> Commerce, transports, télécoms,
          hébergement, restauration, enseignement, santé, et autres services
          (ex. : agence de communication, club de sport, réparation, dépannage...).
        </p>
      </div>

    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Les secteurs dépendent des secteurs précédents
      * La tertiarisation du travail est la conséquence de l'augmentation de la productivité
    </aside>

  </section>

</section>