<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Qu'en pensez-vous ?</h2>
    <p class="op50" style="text-decoration: line-through">
      La production d'énergie par panneau solaire est-elle une activité verte ?
    </p>
    <p>
      La production d'électricité via des panneaux photovoltaïques polycristallins <br/>
      manufacturés en Allemagne, est-elle une activité verte ?
    </p>
    <p>Critère :  < 50 gCO<sub>2</sub> / kWh</p>

    <div class="w11 txt-l">
      <div class="fragment" data-fragment-index="0">
        <p>
          <b>Données de la 
          <a href="https://www.data.gouv.fr/fr/datasets/base-carbone-complete-de-lademe-en-francais-v17-0/#_">
          Base carbone de l'ADEME v17.0 (nov 2019)</a>
          pour du « made in Germany »</b> 🔷
        </p>
        <ul class="pl32">
          <li>
            <em>France Nord:</em> 43 ± 13 <em>gCO<sub>2</sub>/kWh</em> → validé en partie
          </li>
          <li>
            <em>France Centre:</em> 32 ± 10 <em>gCO<sub>2</sub>/kWh</em> → validé
          </li>
          <li>
            <em>France Sud:</em> 26 ± 8 <em>gCO<sub>2</sub>/kWh</em> → validé
          </li>
        </ul>
      </div>

      <div class="mt32 fragment" data-fragment-index="1">
        <p><b>Données du GIEC</b> 🧪🧪 <em>→ organisme de l'ONU</em></p>
        <ul class="pl32">
          <li>
            Émissions de GES par type de production d'électricité :
            <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/ipcc_wg3_ar5_annex-iii.pdf#page=7">
            IPCC Assessment Report 5 (2013) - Annex III</a>
          </li>
          <li class="fragment" data-fragment-index="2">
            <em>Installé sur toiture:</em> | <em>min:</em> 26  | <em>médiane:</em> 41  | <em>max:</em> 60  | <em>(gCO<sub>2</sub>/kWh)</em> → probablement validé en partie
          </li>
          <li class="fragment" data-fragment-index="2">
            <em>Installé en centrale:</em> | <em>min:</em> 18  | <em>médiane:</em> 48  | <em>max:</em> 180  | <em>(gCO<sub>2</sub>/kWh)</em> → probablement validé en partie
          </li>
        </ul>
      </div>

    </div>


    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

</section>
