<section>

  <section data-transition="slide">
    <h2>Qu'en pensez-vous ?</h2>

    <div class="r-hstack">
      <div class="w3 ml-0">
        <p>En bambou</p>
        <img src="/assets/img/toothbrush-bamboo.png" alt="Brosse à dent en bambou">
      </div>

      <div class="w5">
        <p>Laquelle pollue le moins ?</p>
        <p class="txt-sm fragment" data-fragment-index="0">🙃 Ça dépend 🙃</p>

        <div class="mt32 fragment" style="line-height: 4rem" data-fragment-index="1">

          <div class="flex row">
            <ul class="mb8">
              <li>(x1.8) Acidification des sols</li>
              <li>(x7.0) Eutrophisation (eau douce)</li>
              <li>(x2.5) Besoins en eau</li>
            </ul>
            <ul class="mb8 txt-r fragment" style="list-style-type: none" data-fragment-index="3">
              <li><b>2</b></li>
              <li><b>6</b></li>
              <li><b>10</b></li>
            </ul>
          </div>

          <div class="flex row-reverse">
            <ul class="mr32 txt-r" style="direction: rtl">
              <li>Déchet plastique</li>
              <li>Dépendance au pétrole (x2.4)</li>
              <li>Émission de CO<sub>2</sub> (x1.2)</li>
            </ul>
            <ul class="mr32 txt-r fragment" style="list-style-type: none" data-fragment-index="3">
              <li><b>10</b></li>
              <li><b>3</b></li>
              <li><b>8</b></li>
            </ul>
          </div>

        </div>

        <p class="mt64 fragment" data-fragment-index="2">
          Nécessité de <b>hiérarchiser</b> les nuisances <br />
          $ \Rightarrow $ choix politique
        </p>

        <p class="mt32 fragment" data-fragment-index="4">
          Aucune solution technique <b>n'est parfaite</b> <br />
          $ \Rightarrow $ elle doit juste être moins imparfaite
        </p>
      </div>

      <div class="w3 m64">
        <p>Avec tête remplaçable</p>
        <img src="/assets/img/toothbrush-replaceable-head.jpg" alt="Brosse à dent en plastique">
      </div>
    </div>

    <div class="w11 txt-l mt32">

    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * hiérarchiser demande de comprendre les nuisances
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>
        <a href="https://www.researchgate.net/publication/344225318_Combining_evidence-based_healthcare_with_environmental_sustainability_using_the_toothbrush_as_a_model">
          Combining evidence-based healthcare with environmental sustainability: using the toothbrush as a model</a> 🧪. DOI: 10.1038/s41415-020-1981-0.
      </li>
    </ul>
  </section>

</section>