<section>

  <section data-transition="slide">
    <h2>La règle du : « En réalité, c'est plus compliqué »</h2>
    <p>Vraie pour l'immense majorité des sujets de la crise de l'anthropocène</p>

    <div class="w10 txt-l">
      <p><b>Facteur critique</b>. <em>(définition vague)</em>. Élément qui doit être pris en compte dans un raisonnement. Si on l'oublie, la conclusion du raisonnement change du tout au tout.</p>
    </div>

    <div class="w11 txt-l mt32">
      <p><b>Exemples</b> 🔶</p>
      <ul>
        <li class="fragment mb32">
          Les produits chimiques c'est dangereux.
          <ul>
            <li><em>Toute molécule est chimique. La nocivité dépend de la <span class="fragment highlight-green">dose absorbée</span> (et souvent de son mode d'absorption).</em></li>
          </ul>
        </li>
        <li class="fragment mb32">
          Les circuits-courts c'est moins polluant.
          <ul>
            <li><em>« La <span class="fragment highlight-green">diversité</span> des circuits courts et le manque d’études complètes ne permettent pas d’affirmer qu’ils représentent toujours un meilleur bilan environnemental » ADEME (2012)</em></li>
          </ul>
        </li>
        <li class="fragment mb32">
          Les énergies renouvelables sont la clé car elles n'émettent pas de CO<sub>2</sub>.
          <ul>
            <li><em>Toutes les énergies renouvelables ne se valent pas. « Renouvelable » ne signifie pas « non polluante » ou « sans danger ». Donc, il faut <span class="fragment highlight-green">voir au cas par cas</span>. Par exemple, les barrages ont déjà causé beaucoup de dégâts.</em></li>
          </ul>
        </li>
        <li class="fragment mb32">
          Les énergies renouvelables sont illusoires à cause de leur dépendance aux métaux rares.
          <ul>
            <li><em>Pas forcément. Les terres rares sont surtout présents dans les <span class="fragment highlight-green">dernières technologies</span> éoliennes ou solaires.</em></li>
          </ul>
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>
        « S’ils ont une influence plutôt positive sur l’environnement, la diversité des circuits courts de proximité, ainsi que le manque d’études complètes ne permettent pas d’affirmer que les circuits courts présentent systématiquement un meilleur bilan environnemental que les circuits longs ». 
        <a href="https://presse.ademe.fr/wp-content/uploads/2012/05/avisademecircuitscourtsalimentation_avril2012.pdf">
        Avis de l'ADEME (3 mai 2012)</a> p. 4. 🔷
      </li>
    </ul>
  </section>

</section>
