<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Qu'en pensez-vous ?</h2>
    <p>La production d'énergie par panneau solaire est-elle une activité verte ?</p>
    <p>
      Considérée verte
      <span class="mx16">$ \Longleftrightarrow $</span>
      moins de 50 gCO<sub>2</sub>/kWh
    </p>
    <span class="fragment" style="font-size:0.6em" data-fragment-index="0">
      $$
        \text{ Intensité carbone }
        = \frac{ \text{GES totaux émis } (gCO_2) }
                { \text{Energie totale produite } (kWh) }
      $$
    </span>

    <div class="r-hstack">

      <div class="w3" style="font-size:0.6em">
      </div>

      <div class="w6">
        <img src="/assets/img/photovoltaic-2.png" alt="Visuel panneaux solaires">
      </div>
      <div class="w3 txt-l fragment" data-fragment-index="1">
        <ul class="txt-sm op90">
          <li>charbon: 820 <em class="op70">gCO<sub>2</sub>/kWhe</em></li>
          <li>gaz: 490 <em class="op70">gCO<sub>2</sub>/kWhe</em></li>
          <li>hydraulique: 24 <em class="op70">gCO<sub>2</sub>/kWhe</em></li>
          <li>éolien: 15 <em class="op70">gCO<sub>2</sub>/kWhe</em></li>
          <li>nucléaire: 12 <em class="op70">gCO<sub>2</sub>/kWhe</em></li>
        </ul>
      </div>
    </div>
    
    <div class="w10 txt-l r-hstack">
      <ul class="block mx64">
        <li>Oui !</li>
        <li>Oui, dans la plupart des cas</li>
      </ul>
      <ul class="block mx64">
        <li>Ni verte, ni pas verte</li>
        <li>Ça dépend</li>
      </ul>
      <ul class="block mx64">
        <li>Bof, mais pas sûr</li>
        <li>Non !</li>
      </ul>
    </div>


    <aside class="notes" data-markdown>
      __0:XX:00__
      *
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>
        « Emissions of selected electricity supply technologies (gCO2eq / kWh). <b>median values</b> »
        <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/ipcc_wg3_ar5_annex-iii.pdf#page=7">
        IPCC (GIEC) - Assessment report 5 (2013) - Annex III</a> 🧪🧪. p. 1335 (p.7) A.III.2
      </li>
    </ul>
  </section>

</section>
