<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Activité « verte »</h2>
    <p>Activité dont les effets indésirables nous paraissent acceptables</p>
    
    <div class="w10 txt-l r-hstack">
      <div class="w6 px32 txt-c">
        <img src="/assets/img/fishing-rod.jpg" alt="Pêche à la canne à pêche">
      </div>
      <div class="w6 px32 txt-c">
        <img src="/assets/img/fishing-vessel.jpg" alt="Pêche de masse avec un bâteau de pêche">
      </div>
    </div>
    <div class="w10 txt-l r-hstack">
      <p class="w6 txt-c"><em>🎣 Pêche à la canne</em> <br/> Activité verte ?</p>
      <p class="w6 txt-c"><em>🎣 Pêche de masse</em> <br/> Activité pas verte ?</p>
    </div>
    <p class="fragment"><b>une question d'échelle</b></p>
    <p class="fragment">
      activité à grande échelle
      <span class="mx8">$ \Longleftrightarrow $</span>
      grande utilisation d'énergie
    </p>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * 
    </aside>

  </section>

</section>
