<section>

  <section data-transition="slide" data-auto-animate>
    <h2>La science pose un cadre pour la politique</h2>

    <div class="w10 txt-l">
      <p class="mt64">
        <b>Idée.</b> Une décision politique ne peut pas enfreindre
        une loi de la physique. Une décision politique ne peut pas
        s'extraire de la réalité physique.
      </p>
      
      <div class="fragment">
        <p class="mt16"><b>Contre-exemples fictifs (enfin presque)</b></p>
        <ul>
          <li class="mb16">
            « La vitesse de la lumière vaut désormais 200 000 m/s »
          </li>
          <li class="mb16">
            « L'économie doit reposer sur l'utilisation croissante
            de ressources fossiles. »
            <br/><em>→ ne se renouvellent pas assez vite</em>
          </li>
          <li class="mb16">
            « Les voitures à essence doivent avoir un rendement
            moteur supérieur à 80%. »
            <br/><em>→ irréaliste (principe thermodynamique de
            Clausius-Carnot)</em>
          </li>
          <li class="mb16">
            « Nous devons limiter le réchauffement global moyen
            en 2100 à moins de 1.5°C. »
            <br/><em>→ probablement irréaliste, les efforts
            d'aujourd'hui ne prennent effet que dans 20 ans.
            (+1.1°C en 2017)</em>
          </li>
        </ul>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

</section>
