<section>

  <section data-transition="slide">
    <h2>Approche systémique</h2>
    <p>Pourquoi on en parle ?</p>
    
    <div class="w11 txt-l">
      <p><b>C'est une méthode pour :</b></p>
      <ul>
        <li>
          Analyser les interactions, les évolutions de systèmes complexes, et
          leurs réactions à une perturbation
        </li>
        <li>
          Poser correctement un problème et aider à la prise de décision
        </li>
      </ul>
      
      <p><b>Exemples d'application</b></p>
      <ul>
        <li>Système climat</li>
        <li>Populations d'êtres vivants</li>
        <li>Effets des pollutions sur les écosystèmes</li>
        <li>Activités économiques</li>
        <li>Gestion des ressources minières, forestières...</li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
    * Utilisé en : écologie, biologie, marketing, informatique, électronique,
      sociologie, psychologie...
    </aside>

  </section>

</section>
