<section>

  <section data-transition="slide">
    <h2>Approche systémique</h2>
    
    <div class="w11 txt-l">
      <p><b>Système</b>. Ensemble d'éléments qui interagissent suivant des
      principes (ou règles).</p>

      <p><b>Approche systémique</b></p>
      <ul>
        <li>Modéliser des phénomènes par un système</li>
        <li>Étudier les échanges entre les sous-parties du système</li>
        <li>Déterminer les états du système en fonction de paramètres</li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
    * Utilisé en : écologie, biologie, marketing, informatique, électronique,
      sociologie, psychologie...
    </aside>

  </section>

</section>
