<section>

  <section data-transition="slide">
    <h2>Approche systémique</h2>
    <p>Ce qu'on n'apprend pas assez à l'école</p>
    
    <div class="w10 txt-l">
      <p class="mt64"><b>L'approche systémique</b></p>
      <ul>
        <li>étudie les <span class="txt-bold">interactions</span> entre les
        éléments</li>
        <li>considère une perception globale de l'ensemble, et son évolution</li>
        <li>se concentre sur des tendances, des approximations</li>
        <li>modifie des groupes de variables simultanément</li>
        <li>prend en compte des éléments<span class="txt-bold">irréversibilité</span></li>
      </ul>
      
      <p class="mt64">
        → permet d'appréhender plus clairement les phénomènes
        complexes
      </p>
    </div>

    <aside class="notes" data-markdown>
    </aside>

  </section>

</section>
