<section>

  <section data-transition="slide">
    <h2>Approche linéaire analytique</h2>
    <p>Ce qu'on a l'habitude de faire</p>
    
    <div class="w10 txt-l">
      <p><b>Démarche linéaire</b></p>
      <div class="flex align-items-center mt32 justify-center txt-c">
        <div class="mx8 p16 boxed">Analyse du problème</div>
        <div class="mx8">$ \longrightarrow $</div>
        <div class="mx8 p16 boxed">Recherche d'une solution</div>
        <div class="mx8">$ \longrightarrow $</div>
        <div class="mx8 p16 boxed">Mise en oeuvre de la solution</div>
        <div class="mx8">$ \longrightarrow $</div>
        <div class="mx8 p16 boxed">Problème résolu</div>
      </div>
      
      <p class="mt32">
        Lorsqu'une étape est finie, on ne revient plus la modifier
      </p>

      <p class="mt64"><b>L'approche analytique</b></p>
      <ul>
        <li>isole les éléments et les traite un par un</li>
        <li>considère un composant complexe comme une somme d'éléments petits et simples</li>
        <li>se concentre sur la précision et les détails</li>
        <li>modifie une seule variable à la fois</li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
    </aside>

  </section>

</section>
