<section>

  <section data-transition="slide">
    <h2>Rétroaction</h2>
    <p>Notion clef de l'analyse systémique</p>
    
    <div class="w10 txt-l">
      <p><b>Rétroaction</b>. Processus où un effet « agit aussi sur sa
      propre cause ». Action de la sortie d'un système sur lui-même quand
      l'information de sortie est renvoyée en entrée du système.</p>
      
      <p><b>Rétroaction positive</b> <em>(ou rétroactivation)</em>. Processus qui
      s'amplifie continuellement (emballement ou « effet boule de neige »)
      jusqu'à dépassement des limites physiques.</p>
      
      <p><b>Rétroaction négative</b> <em>(ou rétroinhibition)</em>. Processus
      déclenché automatiquement après une perturbation, visant à provoquer
      une action correctrice en sens contraire.</p>
    </div>

    <aside class="notes" data-markdown>
      * rétroactivation et rétroinhibition sont propres à la biologie
    </aside>

  </section>

</section>
