<section>

  <section data-transition="slide">
    <h2>Deux visions complémentaires</h2>
    <p>selon Joël de Rosnay</p>
    
    <div class="txt-l">
      <div class="r-hstack">
        <div class="w6">
          <p><span class="txt-bold">Approche analytique</span></p>
          <ul style="font-size: 0.94em">
            <li class="mb16">
              <b>Isole</b> les éléments et les traite un par un
            </li>
            <li class="mb16">
              Considère la nature des interactions
            </li>
            <li class="mb16">
              S'appuie sur la <b>précision</b> et les <b>détails</b>
            </li>
            <li class="mb16">
              Modifie <b>une seule variable à la fois</b>
            </li>
            <li class="mb16">
              Indépendante de la durée : les phénomènes
            considérés sont réversibles
            </li>
            <li class="mb16">
              Modèles précis mais difficilement utilisables dans l'action
            </li>
            <li class="mb16">
              Efficace lorsque les interactions sont <b>linéaires</b>
            et <b>faibles</b>
            </li>
            <li class="mb16">
              Conduit à un enseignement <b>cloisonné par discipline</b>
            </li>
            <li class="mb16">
              Conduit à une <b>action plannifiée dans le détail</b>
            </li>
            <li class="mb16">
              Connaissance des détails, buts mal définis
            </li>
          </ul>
        </div>
        <div class="w6 pl64">
          <p><span class="txt-bold">Approche systémique</span></p>
          <ul style="font-size: 0.94em">
            <li class="mb16">
              <b>Relie</b> les éléments et étudie leurs interactions
            </li>
            <li class="mb16">
              Considère les effets des interactions
            </li>
            <li class="mb16">
              S'appuie sur la <b>perception globale</b>
            </li>
            <li class="mb16">
              Modifie des <b>groupes de variables</b> simultanément
            </li>
            <li class="mb16">
              Intègre la durée et l'<b>irréversibilité</b>
            </li>
            <li class="mb16">
              Modèles insuffisamment rigoureux pour servir de connaissances,
              mais utilisable dans l'action et la décision
            </li>
            <li class="mb16">
              Efficace lorsque les interactions sont <b>non
            linéaires</b> et <b>fortes</b>
            </li>
            <li class="mb16">
              Conduit à un enseignement <b>pluridisciplinaire</b>
            </li>
            <li class="mb16">
              Conduit à une <b>action par objectifs</b>
            </li>
            <li class="mb16">
              Connaissance des buts, détails flous
            </li>
          </ul>
        </div>
      </div>
    </div>

    <aside class="notes" data-markdown>
    </aside>

  </section>

  <section>
    <p><b>Sources</b></p>
    <ul>
      <li>
        J. de Rosnay, Le Macroscope : vers une vision globale, Éditions du
        Seuil, 1975 (p. 119) <br/>
        via <a href="http://www.bv.transports.gouv.qc.ca/mono/0968460.pdf#page=21&zoom=auto,-274,612">
        Certu - Centre d'études sur les réseaux, les transports, l'urbanisme
        et les constructions publiques - Une introduction à l'approche
        systémique (p. 20)</a> 
      </li>
    </ul>
  </section>

</section>
