<section>

  <section data-auto-animate>
    <h2>L'Énergie</h2>
    <p>Qu'est-ce que c'est ?</p>
    
    <div class="w11 txt-l mt32">
      <p><b>Exemples concrets d'utilisation d'énergie</b></p>
      <ul>
        <li class="fragment">
          Se chauffer au <b>fioul</b> (pétrole) ou au <b>bois</b>
        </li>
        <li class="fragment">
          Chauffer son eau grâce au <b>gaz</b>, au <b>solaire</b> thermique ou à la <b>géothermie</b>
        </li>
        <li class="fragment">
          Faucher du blé avec ses <b>muscles</b> ou avec une moissonneuse-batteuse au <b>diesel</b> (pétrole)
        </li>
        <li class="fragment">
          Couper du bois avec une hache et ses <b>bras</b> ou avec une tronçonneuse à <b>essence</b> (pétrole)
        </li>
        <li class="fragment">
          Faire de l'acier, du ciment ou former du verre chauffé au <b>charbon</b>
        </li>
        <li class="fragment">
          Approvisionner un supermarché avec des camions au <b>gazole</b> (pétrole)
        </li>
        <li class="fragment">
          Se déplacer à <b>cheval</b> (énergie musculaire)
        </li>
        <li class="fragment">
          Fabriquer une carte électronique avec de l'<b style="color: #3ee">électricité</b> produite en centrale <b>nucléaire</b>
        </li>
        <li class="fragment">
          Prendre un bus à <b style="color: #3ee">agrocarburant</b> produit à partir de <b>biomasse</b> (ex. : betteraves et céréales)
        </li>
        <li class="fragment">
          Rouler en voiture <b style="color: #3ee">électrique</b> alimenté par pile à <b style="color: #3ee">hydrogène</b> produit par vaporeformage du <b>méthane</b>
        </li>
        <li class="fragment">
          Cuisiner au <b>gaz</b> naturel ou au <b style="color: #3ee">biogaz</b> issu de la fermentation de <b>biomasse</b>
        </li>
        <li class="fragment">
          Propulser son porte-avions au <b>nucléaire</b>, son voilier grâce au <b>vent</b>
        </li>
        <li class="fragment">
          Moudre son grain au moulin à <b>vent</b> ou au moulin à <b>eau</b>
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * act. éco. : fabriquer un boulon de 12 ; transporter des gens en bus
      * énergie = pollution ⇔ moins polluer = moins d'énergie \
      → choisir un type d'énergie = choisir la pollution la plus acceptable
    </aside>

  </section>

</section>