<section>

  <section data-auto-animate>
    <h2>L'Énergie</h2>
    <p>Qu'est-ce que c'est ?</p>
    
    <div class="w10">
      <p><b>Idée.</b> L'énergie c'est la monnaie du monde physique.</b></p>
      <div class="r-hstack txt-c">
        <div class="w6">
          <p>40 kg de tomate à 1.50 €/kg HT</p>
          <p>une paire de bottes à 60.00 € HT</p>
        </div>
        <div class="w6">
          <p>100 J d'énergie musculaire</p>
          <p>100 J d'énergie cinétique</p>
        </div>
      </div>

      <div class="r-hstack txt-c">
        <div class="w6 fragment">
          <p>$ \downarrow $</p>
          <p>Transfert de propriété (€)</p>
        </div>
        <div class="w6 fragment">
          <p>$ \downarrow $</p>
          <p>Conversion d'énergie (J, kWh, kcal, tep...)</p>
        </div>
      </div>

      <div class="txt-c fragment">
        <img src="/assets/img/energy-money.svg">
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * act. éco. : fabriquer un boulon de 12 ; transporter des gens en bus
      * énergie = pollution ⇔ moins polluer = moins d'énergie \
      → choisir un type d'énergie = choisir la pollution la plus acceptable
    </aside>

  </section>

</section>