<section>

  <section data-transition="slide">
    <h2>Anthropocène</h2>
    
    <div class="w8 txt-l">
      <p><b>Définition vague.</b> Époque fortement marquée par l'impact des activités humaines (ou économiques) sur les écosystèmes.</p>
            
      <p class="txt-c my64">
        Ressources naturelles
        <span class="mx8">$ \longrightarrow $</span>
        <span class="mx8 p16 boxed">Activités</span>
        <span class="mx8">$ \longrightarrow $</span>
        Déchets
      </p>
      
      <p><b>Conséquences préoccupantes</b></p>
      <ul>
        <li>Chute du vivant</li>
        <li>Gaz à effet de serre (GES)</li>
        <li>Autres pollutions diverses → <em>Déchets plastiques, particules fines...</em></li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * 
    </aside>

  </section>

</section>
