<section>

  <section data-transition="slide" data-auto-animate>
    <p>
      Comment <b>mesurer</b> l'impact de ces activités sur les écosystèmes ?</h2>
    <p class="fragment">
      Quelle <b>grandeur physique</b> pour mesurer la transformation du monde ?
    </p>
    
    <h2 class="mt64 fragment">L'Énergie</h2>
    <p class="op70 fragment">L'énergie consommée par les humains.</p>
    <p class="op70 fragment">L'énergie utilisée par les machines contribuant aux activités humaines.</p>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

</section>