<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Anthropocène</h2>
    <p>TODO</p>
    https://youtu.be/n3LyVbGUFu4?t=2956
    <div class="w10 txt-l r-hstack">
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * 
    </aside>

  </section>

</section>
