<section>

  <section data-auto-animate>
    <h2>L'Énergie</h2>
    <p>Qu'est-ce que c'est ?</p>
   
    <div class="w10 txt-l">
      <p><b>Définition.</b> La mesure de la capacité à transformer quelque chose.</p>
      <p><b>Exemples de cas d'utilisation d'énergie</b></p>
      <ul>
        <li>Changement de température</li>
        <li>Changement de vitesse, de forme</li>
        <li>Changement de composition chimique</li>
      </ul>
      <p class="fragment" data-fragment-index="0"><b>Idées importantes</b></p>
      <ul>
        <li class="fragment" data-fragment-index="0">
          Chaque transformation qui a lieu dans l'univers implique de l'énergie.
        </li>
        <li class="fragment" data-fragment-index="1">
          Chaque activité économique implique de l'énergie.
        </li>
        <li class="fragment" data-fragment-index="2">
          Plus on « utilise » de l'énergie, plus on transforme le monde.
        </li>
        <li class="fragment" data-fragment-index="3">
          Une activité « propre » est une activité qui « laisse en l'état », c-à-d qui n'utilise pas d'énergie. <br/>
          Par définition, cela n'existe donc pas.
        </li>
        <li class="fragment" data-fragment-index="4">
          Une activité « verte » est une activité dont les pollutions nous paraissent acceptables.
        </li>
        <li class="fragment" data-fragment-index="5">
          Les activités qui font le plus de dégâts sont celles qui utilisent le plus d'énergie.
        </li>
        <li class="fragment" data-fragment-index="6">
          Diminuer notre impact sur l'environnement c'est réduire notre utilisation d'énergie.
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * act. éco. : fabriquer un boulon de 12 ; transporter des gens en bus
      * énergie = pollution ⇔ moins polluer = moins d'énergie \
      → choisir un type d'énergie = choisir la pollution la plus acceptable
    </aside>

  </section>

</section>