<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Qu'en pensez-vous ?</h2>
    <p class="op50" style="text-decoration: line-through">
      La production d'énergie par panneau solaire est-elle une activité verte ?
    </p>
    <p>
      La production d'électricité via des panneaux photovoltaïques polycristallins <br/>
      manufacturés en Allemagne, est-elle une activité verte ?
    </p>
    <p>Critère :  < 50 gCO<sub>2</sub> / kWh</p>

    <div class="w10 txt-l r-hstack">
      <ul class="block mx64">
        <li>Oui !</li>
        <li class="fragment highlight-green" data-fragment-index="0">Oui, dans la plupart des cas</li>
      </ul>
      <ul class="block mx64">
        <li class="fragment highlight-green" data-fragment-index="0">Ni verte, ni pas verte</li>
        <li class="fragment highlight-green" data-fragment-index="0">Ça dépend</li>
      </ul>
      <ul class="block mx64">
        <li>Bof, mais pas sûr</li>
        <li>Non !</li>
      </ul>
    </div>

    <div class="w9 mt32 txt-l fragment" data-fragment-index="1">
      <p class="mb0"><b>Si on part du principe que</b></p>
      <ul>
        <li>le critère de 50 gCO<sub>2</sub> / kWh est suffisant</li>
        <li>les données de Climat Mundi relayé par l'ADEME sont raisonnablement correctes</li>
      </ul>
    </div>

    <div class="w9 mt32 txt-l fragment" data-fragment-index="2">
      <p class="mb0"><b>Moralité de l'histoire</b> 🔶</p>
      <ul>
        <li>établir des critères pertinents, c'est difficile</li>
        <li>la question est mal posée</li>
        <li>la véritable question est compliquée</li>
        <li>les données nécessaires sont incomplètes voire inexistantes</li>
        <li>la réponse est incertaine</li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

</section>
