<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Qu'en pensez-vous ?</h2>
    <p>La production d'énergie par panneau solaire est-elle une activité verte ?</p>
    <p>Critère :  < 50 gCO<sub>2</sub> / kWh</p>
    <span style="font-size:0.6em">
      $$
        \text{ Intensité carbone }
        = \frac{ \text{GES totaux émis } (gCO_2) }
                { \text{Energie totale produite } (kWh) }
      $$
    </span>

    <div class="w11 txt-l">
      <div class="fragment">
        <p>« <b>Panneau solaire</b> ».
          Thermique ou photovoltaïque ?
          <em>Disons, photovoltaïque.</em>
        </p>
      </div>

      <div class="fragment">
          « <b>Panneau photovoltaïque</b> ».
          Monocristallins, polycristallins ou amorphes ? <em>ou CdTe ? ou CIGS ? ou CPV ?</em>
      </div>

      <div class="fragment">
        <p>
          « <b>Panneau photovoltaïque polycristallin</b> ».
          Fabriqué en France, en Allemagne ou en Chine ?
        </p>
        <ul class="pl32">
          <li><em>Allemagne :</em> électricité 6 fois plus émettrice de CO<sub>2</sub> qu'en France 🔷</li>
          <li><em>Chine : </em> électricité 12 fois plus émettrice de CO<sub>2</sub> 🔷</li>
        </ul>
      </div>

      <div class="fragment">
        <p>« <b>Panneau photovoltaïque polycristallin allemand</b> ». </p>
        <ul class="pl32">
          <li>La production du panneau dépend de l'emplacement géographique</li>
          <li>
            <a href="https://www.data.gouv.fr/fr/datasets/base-carbone-complete-de-lademe-en-francais-v17-0/#_">
            Base carbone de l'ADEME v17.0 (nov 2019) <em>→ organisme publique français 🔷</em></a>
          </li>
        </ul>
      </div>
    </div>


    <aside class="notes" data-markdown>
      __0:XX:00__
      * +60% entre le Havre et Nice
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Précisions</b></p>
    <ul>
      <li>Intensité carbone de la production d'électricité : Allemagne : 418 gCO2/kWh, France : 67 gCO2/kWh, Chine : 841 gCO2/kWh.</li>
    </ul>
    <p class="txt-l">Technologies photovoltaïques :</p>
    <ul class="w12 txt-l">
      <li>Polycristallins. <em>Rendement ~15%, bon rapport qualité/prix</em></li>
      <li>Monocristallins. <em>Plus efficace mais plus onéreux</em></li>
      <li>Amorphes. <em>Souple, moins efficace en plein soleil mais meilleur en temps couvert</em></li>
    </ul>
    <p><b>Sources</b></p>
    <ul>
      <li>
        « This current data set concerns the EEA 2017 carbon emission intensity of electricity generation. The data are presented per Member State and for the EU as a whole, as CO2 emission intensity (gCO2/kWh). » 
        <a href="https://www.eea.europa.eu/data-and-maps/data/co2-intensity-of-electricity-generation">
        European Environment Agency - CO2 Intensity of Electricity Generation</a> 🔷
      </li>
      <li>« At national level, carbon intensities vary between 861 and 821 g/kWh. »
        <a href="https://www.sciencedirect.com/science/article/pii/S1876610217361714">
        China’s electricity emission intensity in 2020 – an analysis at provincial level</a> 🧪. p. 2783 (p. 5). (at "4.Results and discussion") https://doi.org/10.1016/j.egypro.2017.12.421
      </li>
      <li>« Les valeurs issues de ces ACV varient entre 35 et 85 g équivalent CO2 par kWh du sud au nord et selon les technologies. »
        <a href="https://www.bilans-ges.ademe.fr/documentation/UPLOAD_DOC_FR/index.htm?electricite_reglementaire.htm">
        ADEME - Base carbone</a> 🔷
      </li>
    </ul>
  </section>

</section>
