<section>

  <section data-transition="slide">
    <h2>Chute du vivant</h2>
    
    <ul>
      <li>-68% des effectifs d'animaux sauvages <em>→ en 50 ans 🔷</em></li>
      <li>-67% de la masse d'insectes <em>→ en 10 ans dans les prairies en Allemagne 🧪</em></li>
      <li>-22% d'espèces d'oiseaux communs « spécialistes » <em>→ en 30 ans en France métropolitaine 🔷</em></li>
    </ul>
    
    <div class="w9 mt32">
      <canvas data-chart="line">
        <!-- {
          "data": {
            "datasets": [
              {
                "label": "Amphibiens",
                "data":[
                  { "t": "1500", "y": 0.0 }, { "t": "1600", "y": 0.0 }, { "t": "1700", "y": 0.0 }, { "t": "1800", "y": 0.0 }, { "t": "1900", "y": 0.2 }, { "t": "2018", "y": 2.4 }
                ],
                "borderColor": "#e60073",
                "backgroundColor": "#0000",
                "borderWidth": 7
              }, {
                "label": "Mammifères",
                "data":[
                  { "t": "1500", "y": 0.0 }, { "t": "1600", "y": 0.4 }, { "t": "1700", "y": 0.45 }, { "t": "1800", "y": 0.55 }, { "t": "1900", "y": 1.0 }, { "t": "2018", "y": 1.9 }
                ],
                "borderColor": "#ffff77",
                "backgroundColor": "#0000",
                "borderWidth": 7
              }, {
                "label": "Oiseaux",
                "data":[
                  { "t": "1500", "y": 0.0 }, { "t": "1600", "y": 0.1 }, { "t": "1700", "y": 0.25 }, { "t": "1800", "y": 0.5 }, { "t": "1900", "y": 0.9 }, { "t": "2018", "y": 1.7 }
                ],
                "borderColor": "#ff8833",
                "backgroundColor": "#0000",
                "borderWidth": 7
              }, {
                "label": "Reptiles",
                "data":[
                  { "t": "1500", "y": 0.0 }, { "t": "1600", "y": 0.0 }, { "t": "1700", "y": 0.05 }, { "t": "1800", "y": 0.1 }, { "t": "1900", "y": 0.5 }, { "t": "2018", "y": 1.1 }
                ],
                "borderColor": "#55ff88",
                "backgroundColor": "#0000",
                "borderWidth": 7
              }, {
                "label": "Poissons",
                "data":[
                  { "t": "1500", "y": 0.0 }, { "t": "1600", "y": 0.0 }, { "t": "1700", "y": 0.0 }, { "t": "1800", "y": 0.0 }, { "t": "1900", "y": 0.07 }, { "t": "2018", "y": 0.9 }
                ],
                "borderColor": "#2299ff",
                "backgroundColor": "#0000",
                "borderWidth": 7
              }, {
                "label": "Taux normal d'extinction",
                "data":[
                  { "t": "1500", "y": 0.0 }, { "t": "2050", "y": 0.11 }
                ],
                "borderColor": "#0000",
                "fill": true,
                "pointRadius": 0,
                "backgroundColor": "#9999"
              }
            ]
          },
          "options": {
            "title": {
              "text": [ "Extinction des espèces vertébrées depuis 1500. Données IPBES AR2019 SPM. 🧪🧪" ]
            },
            "scales": {
              "xAxes": [{
                "type": "time",
                "gridLines": false,
                "time": {
                  "unit": "year",
                  "unitStepSize": 100,
                  "parser": "YYYY"
                }
              }],
              "yAxes": [{
                "ticks": { "beginAtZero": true },
                "scaleLabel" : { "display": "true", "labelString": "% cumulé d'espèces disparues" }
              }]
            },
            "elements": {
              "line": { "tension": 0.00001 }
            }
          }
        } -->
      </canvas>
    </div>

    <aside class="notes" data-markdown>
      __0:23:30__
      * 
    </aside>

  </section>

  <section data-transition="slide">
  <p><b>Sources</b></p>
  <ul>
    <li>
      « L’indice Planète Vivante 2020 mondial indique une chute moyenne de 68% (fourchette : de  -73%  à  -62%) des populations <b>suivies</b> de mammifères, oiseaux, amphibiens, reptiles et poissons entre 1970 et 2016 ».
      <a href="https://www.wwf.fr/sites/default/files/doc-2020-09/20200910_Synthese_Rapport-Planete-Vivante-2020_WWF-min.pdf">
      WWF - Rapport planète vivante 2020</a>. p. 7 🔷
    </li>
    <li>
      « Arthropod decline in biomass in grassland ».
      <a href="https://media.nature.com/original/magazine-assets/d41586-019-03241-9/d41586-019-03241-9.pdf">
      Seibold, S. et al. Nature</a>. Fig 2. 🧪
    </li>
    <li>
      « 22% des oiseaux communs spécialistes ont disparu de métropole entre 1989 et 2017. Les oiseaux communs dits « spécialistes », inféodés à un habitat particulier (agricole, forestier, milieux bâtis), sont de bons marqueurs des pressions exercées sur les milieux ».
      <a href="https://www.statistiques.developpement-durable.gouv.fr/sites/default/files/2019-01/datalab-48-cc-biodiversite-les-chiffres-cles-edition-2018-decembre2018a.pdf">
      Commissariat général au développement durable - Biodiversité - Les chiffres clés 2018</a>. p. 20. 🔷
    </li>
    <li>
      « Extinctions since 1500 for vertebrate groups. Rates for reptiles and fishes have not been assessed for all species. ».
      <a href="https://www.ipbes.net/sites/default/files/inline/files/ipbes_global_assessment_report_summary_for_policymakers.pdf">
      IPBES - The global assessment report on biodiversity and ecosystem services - SPM 2019</a>. p. 26. 🧪🧪
    </li>
  <ul>
  </section>

</section>
