<section>

  <section data-transition="slide">
    <h2>Dérégulation et chute du vivant</h2>

    <div class="r-hstack">
      <div class="w6">
        <img src="/assets/img/ecosystem-services.png">
      </div>
      <div class="w5 txt-l">
        <p>Raisons de s'en préoccuper :</p>
        <ul class="mb64">
          <li>Éthique</li>
          <li>Spirituel et esthétique</li>
          <li>Égoïsme</li>
        </ul>
        <p class="mb64">
          <b>Services écosystémiques</b>. Les bénéfices offerts par les écosystèmes aux sociétés humaines.
        </p>
        <p class="pt64 op70 txt-sm">
          Image de World Wide Fund for Nature (WWF)
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:17:00__
      * Éthique: de quel droit les humains peuvent-ils anéantir le vivant ?
      * Spirituel et esthétique
      * Raisons égoïstes de s'en inquiéter: services écosystémiques

      Nourriture (agriculture), ressources médicinales, eau douce, régulations du climat, de l'érosion, des eaux usés, des maladies
    </aside>

  </section>

</section>
