<section>

  <section data-transition="slide">
    <h2>Anthropocène</h2>
    <p>Qu'est-ce que c'est ?</p>
    
    <div class="w8 txt-l">
      <p><b>Définition vague.</b> Époque fortement marquée par l'impact des activités humaines sur les écosystèmes.</p>
      
      <p class="txt-c my32">
        Ressources naturelles
        <span class="mx8">$ \longrightarrow $</span>
        <span class="mx8 p16 boxed">Activités</span>
        <span class="mx8">$ \longrightarrow $</span>
        Déchets
      </p>

      <p><b>Conséquences préoccupantes</b></p>
      <ul>
        <li>
          Gaz à effet de serre (GES) <em>→ CO<sub>2</sub>, pétrole, charbon, gaz naturel (CH<sub>4</sub>), N<sub>2</sub>O</em>...
        </li>
        <li>
          Chute du vivant <em>→ 6<sup>ème</sup> extinction de masse, effondrement de la biodiversité</em>
        </li>
        <li>
          Autres pollutions diverses → <em>Déchets plastiques, particules fines...</em>
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:07:30__
      * Les flux de matière sont devenus si importants que les déchets produits menacent l'équilibre de nos sociétés
    </aside>

  </section>

</section>
