<section>

  <section data-transition="slide">
    <h2>Anthropocène</h2>
    <p>Nous butons sur les limites physiques de la Terre</p>

    <div class="w10 txt-l">
      <ul>
        <li class="mb16 fragment">
          <b>Limites d'utilisation des terres</b>. Concurrence d'usage des sols
          <em>→ agriculture, urbanisation, aire protégée pour les animaux...</em>
        </li>
        <li class="mb16 fragment">
          <b>Limites de la biocapacité</b>. La capacité des écosystèmes à encaisser les pollutions
          <em>→ si on la dépasse, les écosystèmes se dégradent (et nous avec)</em>
        </li>
        <li class="mb16 fragment">
          <b>Limites d'approvisionnement en énergie</b>. A 80%, il s'agit d'énergies fossiles (pétrole, charbon et gaz naturel). L'énergie on la puise dans notre environnement (limité en taille)
          <em>→ pas si simple de se passer des énergies fossiles</em>
        </li>
      </ul>
      <p class="fragment">
        Ces 3 éléments permettent au système productif de fonctionner. Sans eux, on ne garantit plus l'<b>alimentation</b>, la <b>santé</b> et la <b>sécurité</b> de tout le monde.
      </p>
    </div>

    <aside class="notes" data-markdown>
    * systémique : les 3 points ont des rétroactions entre eux
      * pas isolés entre eux, ils sont corrélés
    </aside>

  </section>

  <section>
    <p><b>Sources et ressources</b></p>
    <ul>
      <li>
        « Economic growth is closely linked to increases in production,
        consumption and resource use and has detrimental effects on the natural
        environment and human health. It is unlikely that a long-lasting,
        absolute decoupling of economic growth from environmental pressures and
        impacts can be achieved at the global scale; therefore, societies need
        to rethink what is meant by growth and progress and their meaning for
        global sustainability. » <br/>
        « La croissance économique est étroitement liée à l'augmentation de la
        production, de la consommation et de l'utilisation de resources et a 
        des effets néfastes sur l'environnement naturel et les effets sur la
        santé humaine. Il est improbable à grande échelle et sur le long terme,
        d'obtenir à la fois une croissance économique et une baisse des impacts
        sur l'environnement; c'est pourquoi les sociétés doivent repenser ce
        que signifie la croissance et le progrès et leur place dans un monde
        durable. »
        <a href="https://www.eea.europa.eu/publications/growth-without-economic-growth">
        European Environment Agency - Growth without economic growth</a>
      </li>
      <li>
        Notion de limites planétaires :
        <a href="https://www.researchgate.net/publication/270898819_'Planetary_Boundaries_Guiding_Human_Development_on_a_Changing_Planet'">
        Steffen et al. (2015), "Planetary Boundaries: Guiding Human Development on a Changing Planet"</a>
      </li>
    </ul>
  </section>

</section>
