<section>

  <section data-transition="slide">
    <h2>Le vivant</h2>
    <p>Répartition de la biomasse (masse vivante) dans le monde <em> · en tonnes de carbone</em></p>

    <img src="/assets/img/biomass-distribution-{{ global.theme }}.svg">
    <p class="txt-sm">Données PNAS (Proceedings of The National Academy of Sciences USA) 2018. 🧪</p>

    <aside class="notes" data-markdown>
      __0:20:30__
      *
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>
        « Graphical representation of the global biomass distribution by taxa. (A) Absolute biomasses of different taxa are represented using a Voronoi diagram, with the area of each cell being proportional to that taxa global biomass (the specific shape of each polygon carries no meaning). »
        <a href="https://www.pnas.org/content/115/25/6506">
          The biomass distribution on Earth</a> 🧪. https://doi.org/10.1073/pnas.1711842115
        <br />
        Mammals and Livestock → <a href="https://www.pnas.org/content/pnas/suppl/2018/07/13/1711842115.DC1/1711842115.sapp.pdf#page=37">
          Supporting Information Appendix p.36</a>
        <br />
        → Livestock full calculation here:
        <a href="https://milo-lab.github.io/biomass_distribution/animals/chordates/livestock/livestock_biomass.html">
          ...livestock_biomass.html</a>
        <br />
        → Wild mammals calculation details: « Our best estimate of the total biomass of wild land mammals is ≈0.003 Gt C. Our best estimate of the total biomass of wild marine mammals is ≈0.004 Gt C. » <a href="https://github.com/milo-lab/biomass_distribution/blob/master/animals/chordates/wild_mammals/wild_mammal.ipynb">
          ...wild_mammal.ipynb</a>
      </li>
    </ul>
  </section>

</section>
