<section>

  <section data-transition="slide">
    <h2>Anthropocène</h2>
    <p>« L'ère d'Anthropos <em>(l'humain)</em> »</p>
    
    <div class="w8 txt-l">
      <p><b>Définition vague.</b> Époque fortement marquée par l'impact des activités humaines sur les écosystèmes.</p>
      
      <div class="flex align-items-baseline mt32 justify-center">
        <div class="w4 txt-r">Ressources primaires</div>
        <div class="mx8">$ \longrightarrow $</div>
        <div class="mx8 p16 boxed">Activités</div>
        <div class="mx8">$ \longrightarrow $</div>
        <div class="w4">Biens et déchets</div>
      </div>
      <div class="flex justify-center mt8">
        <em class="txt-sm">250 000 000 tonnes par jour (2017) 🔷</em>
      </div>

      <p><b>Conséquences préoccupantes</b></p>
      <ul>
        <li>
          Gaz à effet de serre (GES) <em>→ CO<sub>2</sub>, pétrole, charbon, gaz naturel (CH<sub>4</sub>), N<sub>2</sub>O</em>...
        </li>
        <li>
          Chute du vivant <em>→ 6<sup>ème</sup> extinction de masse, effondrement de la biodiversité</em>
        </li>
        <li>
          Autres pollutions diverses → <em>Déchets plastiques, particules fines...</em>
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      * Les flux de matière sont devenus si importants que les déchets produits menacent l'équilibre de nos sociétés
    </aside>

  </section>

  <section>
    <p><b>Sources et calculs</b></p>
    <ul class="w12">
      <li>
        « The material footprint per capita has also increased at an alarming rate. [...] In 2017, that rose to 12.2 metric tons »
        <a href="https://unstats.un.org/sdgs/report/2019/goal-12/">
        United Nations - Goal 12: Responsible consumption and production - Material footprint per capita, 2000 and 2017</a>
        Empreinte matérielle dans le monde : <br/>
        12.2 tonnes/hab/an * 7 500 000 000 hab / 365 j = 250 Mtonnes/j
      </li>
    </ul>
  </section>

</section>
