<section>

  <section>
    <h2>Thématiques de l'anthropocène</h2>
    
    <div class="w10 txt-l">
      <p><b>Idée. </b> Ces sujets sont difficiles à traiter</p>
      <ul class="mb32">
        <li>Chaque sujet en cache, en réalité, une multitude d'autres</li>
        <li>Manque de données sur la plupart d'entre eux</li>
        <li>Difficile de déterminer des indicateurs, des métriques adaptés à toutes les situations</li>
        <li>Incertitudes importantes sur les conclusions tirées</li>
      </ul>
      
      <p><b>Sujets assez médiatisés :</b></p>
      <ul>
        <li>Chute du vivant</li>
        <li>Dérèglement climatique</li>
        <li>Déchets plastiques</li>
        <li>Particules fines</li>
        <li>Déchets nucléaires</li>
        <li>Perturbateurs endocriniens</li>
        <li>Pollution de l'eau et des sols (métaux lourds, hydrocarbures, COV, phosphates, nitrates)</li>
        <li>OGM</li>
        <li>Nutrition</li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:35:30__
      * Climat : facilement objectivable : réduire les émissions de GES
      * Le reste : difficile à mesurer et pas de stratégie claire pour y répondre
      * Certains sujets sont plus prioritaires que d'autres
    </aside>

  </section>

</section>
