<section>

  <section>
    <h2>Dérèglement climatique</h2>
    <p>Effet parasol, effet albédo et effet de serre</p>

    <div>
      <img src="/assets/img/ghg-{{ global.theme }}.svg">
    </div>

    <aside class="notes" data-markdown>
      __0:49:30__
    </aside>

  </section>

</section>
