<section>

  <section>
    <h2>Dérèglement climatique</h2>
    <p>Forçage radiatif</p>

    <div class="w10 txt-l">
      <p><b>Forçage radiatif</b> <em>(définition simplifiée*)</em>. Mesure physique (en W/m², watts par mètre carré) des phénomènes affectant l'équilibre climatique (plus précisément : l'équilibre entre rayonnement solaire absorbé et rayonnement terrestre évacué)</p>

      <div class="fragment">
        <p><b>Exemples de forçages radiatifs positifs</b> <em>→ réchauffent la surface de la Terre</em></p>
        <ul>
          <li>Surplus de GES d'origine anthropique <em>→ $↗$ effet de serre</em></li>
          <li>Noircissement de la neige et des glaciers dû aux particules de suie <em>→ $↘$ effet albédo</em></li>
          <li>Disparition de surfaces à fort albédo (glaciers, neige...) <em>→ $↘$ effet albédo</em></li>
          <li>Émission d'aérosols dans l'air → Hausse de la formation de nuages <em>→ $↗$ effet de serre</em></li>
        </ul>
      </div>
      <div class="fragment">
        <p><b>Exemples de forçages radiatifs négatifs</b> <em>→ refroidissent la surface de la Terre</em></p>
        <ul>
          <li>Remplacement des surfaces sombres par des sols à plus fort albédo (ex. : déforestation, désertification) <em>→ $↗$ effet albédo</em></li>
          <li>Émission d'aérosols dans l'air → Hausse de la formation de nuages <em>→ $↗$ effet parasol</em></li>
        </ul>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:57:00__
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Précision</b></p>
    <ul>
      <li>
        En dynamique de l'atmosphère, le bilan radiatif, résultant des forçages radiatifs, se calcule d'une manière bien précise qui prend et ne prend pas en compte certains facteurs (par exemple : liés aux nuages ou à la végétation...). Bref, dans les détails, c'est compliqué mais à notre niveau la définition simplifiée suffit.
      </li>
    </ul>
  </section>

</section>
