<section>

  <section>
    <h2>Dérèglement climatique</h2>
    <p>Augmentation de la température moyenne globale</p>
    
    <div class="w11">
      <img src="/assets/img/ipcc-ar5-12-5a-global-surface-temperature-change-{{ global.theme }}.svg">
      <p>Réchauffement global moyen par rapport à l’ère préindustrielle (1850-1900) <br>
      en fonction de 4 scénarios d’évolution des forçages radiatifs. Données IPCC (GIEC) AR5 (2014). 🧪🧪</p>
    </div>

    <aside class="notes" data-markdown>
      __1:07:00__
      * Température moyenne
      * Courbes
        * Historiques → période préindustrielle
        * Début des simulations en 2005
        * 4 scénarios étudiés (du pire au meilleur)

      * Incertitude des risques
      * Inertie du climat
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>
      <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/WG1AR5_Chapter12_FINAL.pdf#page=26">
      IPCC (GIEC) AR5 (2014)</a>.  Chapter 12 - 12.4.1.1 Projected changes in global mean temperature and precipitation (p. 1054) 🧪🧪
      </li>
    </ul>
  </section>

</section>
