<section>

  <section>
    <h2>Dérèglement climatique</h2>
    <p>5°C de moins en moyenne, il y a 20000 ans</p>
    
    <div>
      <img src="/assets/img/biogeographic-areas-{{ global.theme }}.svg">
      <p>Les principaux biomes du monde</p>
    </div>

    <aside class="notes" data-markdown>
      __1:10:00__
      * -6°C
      * Climats très différents
      * ~~Agriculture~~ → chasseurs-cueilleurs
      * Population humaine bcp plus faible
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Sources</b></p>
    <ul>
      <li>
        Ray and Adams (2001).
        <a href="https://www.researchgate.net/publication/275381684_A_GIS-based_Vegetation_Map_of_the_World_at_the_Last_Glacial_Maximum_25000-15000_BP">
        A GIS-based Vegetation Map of the World at the Last Glacial Maximum (25,000-15,000 BP)</a>. DOI:10.11141/ia.11.2 🧪
      </li>
      <li>
        Sten Porse, Wikimedia. 
        <a href="https://commons.wikimedia.org/wiki/File:Vegetation-no-legend.PNG">
        Les principaux biomes du monde</a>
      </li>
    </ul>
  </section>

</section>
