<section>

  <section data-transition="slide">
    <h2>« Fresque du climat » : visualiser causes et conséquences</h2>
    <div style="width: 96%">
      <img src="/assets/img/fresque-{{ global.theme }}.svg" alt="Fresque du climat">
    </div>
    <aside class="notes" data-markdown>
      __1:47:00__
      *
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>
        « 42 cartes pour comprendre le dérèglement climatique »
        <a href="https://fresqueduclimat.org/">
        La Fresque du Climat</a>
      </li>
    </ul>
  </section>

</section>
