<section>

  <section>
    <h2>Comprendre les enjeux des émissions de GES</h2>
    <p>Principaux postes d'émissions de CO<sub>2</sub> · 50 GtCO2eq au total</p>
    <br />

    <div class="w9">
      <canvas data-chart="doughnut">
        <!-- {
        "data": {
          "labels": ["CO2 Transport routier", "CO2 Transport ferré", "CO2 Transport aérien", 
            "CO2 Transport maritime", "CO2 Bâtiment résidentiel", "CO2 Bâtiment commercial",
            "CO2 Industrie acier et fonte", "CO2 Industrie chimie et pétrochimie", "CO2 Industrie calcination calcaire (ciment)",
            "CO2 Autres industries", "CO2 Agriculture et pêche", "CO2 Autres (déforestation, combustions non allouée...)",
            "Autres GES"],
          "datasets": [
            { "data":[11.9, 0.4, 1.9,
                1.7, 10.9, 6.6,
                7.2, 3.6, 3,
                10.4, 1.7, 14.7,
                26],
              "backgroundColor": ["#C76B9E", "#B3608E", "#945075",
                "#7A4261", "#34A6B3", "#2B8994",
                "#D93434", "#C72F2F", "#B32B2B",
                "#942323", "#42B344", "#C7A200",
                "#8882"] } ]
        },
        "options": {
          "title": { "text": [
            "Contribution aux émissions de CO2 par secteur d'usage dans le monde en 2016.",
            "Données compilées par Climate Watch Data via World Ressources Institute. 🔷" ] },
          "cutoutPercentage": 60,
          "plugins": { "datalabels": { "opacity": "0" } }
        }
      } -->
      </canvas>
    </div>

    <aside class="notes" data-markdown>
      __1:36:00__
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Sources</b></p>
    <ul>
      <li>
        « Explore GHG emissions from multiple data source (CAIT 🧪, PIK 🧪, UNFCCC 🧪, GCP🧪) »
        <a href="https://www.climatewatchdata.org/ghg-emissions?end_year=2017&start_year=1990">
        Climate Watch Data</a> 
        via <a href="https://www.wri.org/resources/data-visualizations/world-greenhouse-gas-emissions-2016">
        World Ressources Institute</a>.
      </li>
    </ul>
  </section>

</section>
