<section>

  <section data-transition="slide">
    <h2>Climat et communauté scientifique</h2>
    <p>Qu'est-ce que le GIEC ? (IPCC en anglais)</p>

    <div class="w11 txt-l">
      <p><b>Groupe d'experts intergouvernemental sur l'évolution du climat</b>. Organisme international de l'ONU chargé de faire une synthèse des connaissances scientifiques sur le climat.</p>

      <p><b>Idées importantes</b></p>
      <ul>
        <li class="mb16">
          Il publie un « gros » rapport (<em>Assessment Report</em>) environ tous les 7 ans, le 6e sort en 2022. <br/>
          <em>
            Voir le 5e rapport du GIEC : 
            <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/WG1AR5_all_final.pdf">
            AR5 WG1</a> ·
            <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/WGIIAR5-PartA_FINAL.pdf">
            AR5 WG2-1</a> ·
            <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/WGIIAR5-PartB_FINAL.pdf">
            AR5 WG2-2</a> ·
            <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/ipcc_wg3_ar5_full.pdf">
            AR5 WG3</a>
            <br/>
            Résumé :
            <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/SYR_AR5_FINAL_full_fr.pdf">
            Rapport de synthèse (SYR)</a> ·
            <a href="https://www.ipcc.ch/site/assets/uploads/2018/03/WG1AR5_SummaryVolume_FINAL_FRENCH.pdf#page=135">
            Réponses à des questions fréquentes (FAQ)</a>
          </em>
        </li>
        <li class="mb16 fragment">
          Il publie aussi des rapports spéciaux
          <em>
            → ex. :
            <a href="https://www.ipcc.ch/sr15/">
            Conséquences d'un réchauffement planétaire de 1.5°C (SR15)</a>,
            <a href="https://www.ipcc.ch/srocc/">
            Conséquences sur les océans et la cryosphère (SROCC)</a>...
          </em>
        </li>
        <li class="mb16 fragment">
          Il fait un recueil d'études scientifiques sur le sujet du climat.
        </li>  
        <li class="mb16 fragment">
          Il ne fait pas de prescription. Il ne dit pas clairement ce qu'il faut faire. Il ne fait pas explicitement de politique.
        </li>  
        <li class="mb16 fragment">
          Il traite du climat et ne parle pas de biodiversité ni d'épuisements des ressources d'hydrocarbures ou de minerais (ou très peu).
        </li>  
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __1:XX:00__
      *
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Source</b></p>
    <ul>
      <li>

      </li>
    </ul>
  </section>

</section>
