<section>

  <section data-transition="slide">
    <h2>Conséquences du dérèglement climatique</h2>
    <p>Perturbation de la répartition des précipitations et de l'humidité des sols</p>

    <div class="w11">
      <img src="/assets/img/ipcc-disparate-precipitations-{{ global.theme }}.svg">
      <p>
        🧪🧪
        <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/WG1AR5_TS_FINAL.pdf#page=13">
          IPCC (GIEC) AR5 TS TFE.1.Fig3
        </a> (2013)
      </p>
    </div>

    <aside class="notes" data-markdown>
      __1:49:00__
      * Bassin méditerranéen → agriculture: climat plus rude
    </aside>

  </section>

</section>
