<section>

  <section>
    <h2>Fin ! 🎉</h2>
    <p>Approfondir le sujet</p>

    <div class="w11 txt-l">
      <p><b>L'anthropocène</b></p>
      <ul>
        <li>🎦🗣️🇫🇷 <a href="https://www.youtube.com/watch?v=R3y1mMB-y4o">
          Arte - Le Vortex (Zeste de Science & Axolot) - Vous ne ferez pas de vieux os☠️ (mais les poulets oui !)</a></li>
        <li>🎦👨‍🏫🇫🇷 <a href="https://www.youtube.com/watch?v=pKOpZq4kkko">
          Jean-Baptiste Fressoz - L’anthropocène : une révolution géologique d’origine humaine</a></li>
        <li>🎦🗣️🇫🇷 <a href="https://www.youtube.com/watch?v=n85obqP4CGE">
          Rodolphe Meyer (Le Réveilleur) - L'Anthropocène</a></li>
        <li>🎦👨‍🏫🇫🇷 <a href="https://www.youtube.com/watch?v=rUYbJFSiZA0">
          Pablo Servigne - au CESE (2019) - Anthropocène et collapsologie</a></li>
        <li>🎦👨‍🏫🇫🇷 <a href="https://www.youtube.com/watch?v=OrDASn1Igv8">
          Arthur Keller - à CentraleSupélec (2020) - Les Grands Enjeux de Notre Temps : Des Défis Systémiques</a></li>
      </ul>
      <p><b>La chute du vivant</b></p>
      <ul>
        <li>📝🧪🇫🇷 <a href="https://ipbes.net/sites/default/files/2020-02/ipbes_global_assessment_report_summary_for_policymakers_fr.pdf">
          IPBES - AR2019 - Biodiversité et les services écosystémiques - SPM</a></li>
        <li>🎦🎤🇫🇷 <a href="https://www.youtube.com/watch?v=2egyzS5oEMY">
          Greenletter (interview de Bruno David) - Biodiversité : vers une sixième extinction de masse ?</a></li>
        <li>🎦👨‍🏫🇫🇷 <a href="https://www.youtube.com/watch?v=10JMU83J7y0&list=PLeU78T5dtVW7H-acW8g1muT5HYm9YqAX5">
          Université virtuelle environnement et développement durable - MOOC Biodiversité</a></li>
      </ul>
      <p class="txt-c">Voir la suite ⬇️</p>
    </div>

    <aside class="notes" data-markdown>
      __2:18:00__
      * Présenter rapidement quelques sujets
        * Climat : IPCC AR4 FAQ
    </aside>

  </section>

  <section data-transition="slide">
  
  <div class="w11 txt-l">
      <p><b>Le dérèglement climatique</b></p>
      <ul>
        <li>📝🧪🇫🇷 <a href="pdf/ar4-wg1-faqs-fr.pdf">
          IPCC (GIEC) - AR4 (2007) - Extrait du rapport du 1er GT - FAQ</a></li>
        <li>📝🧪🇫🇷 <a href="https://www.ipcc.ch/site/assets/uploads/2018/03/WG1AR5_SummaryVolume_FINAL_FRENCH.pdf#page=135">
          IPCC (GIEC) - AR5 (2014) - Résumé à l'intention des décideurs (SPM) - FAQ</a></li>
        <li>🎦👨‍🏫🇫🇷 <a href="https://www.youtube.com/watch?v=fS5HhcbyjKc">
          Jean-Marc Jancovici - à AgroParisTech (2019) - extrait</a></li>
        <li>🎦👨‍🏫🇫🇷 <a href="https://www.youtube.com/watch?v=3eXVnmI7_oE&list=PLdH9a0PxXSymOTW06TK1Cb-48Pz3SNbJo">
          Avenir Climatique - Le MOOC Energie et Climat S01</a></li>
        <li>🎦👨‍🏫🇫🇷 <a href="https://www.youtube.com/watch?v=10JMU83J7y0&list=PLeU78T5dtVW7H-acW8g1muT5HYm9YqAX5">
          Université virtuelle environnement et développement durable - MOOC Causes et enjeux du changement climatique</a></li>
      </ul>
    </div>
  </section>

</section>
