<section>

  <section>
    <h2>Pourquoi faire confiance aux scientifiques ?</h2>
    <p>Toutes les preuves ne se valent pas</p>

    <div class="w11 txt-l fragment">
      <p><b>Niveau de preuve (de vraisemblance)</b></p>
      <ul>
        <li class="mb4">
          Rumeur
        </li>
        <li class="mb4">
          Anecdote
        </li>
        <li class="mb4">
          Opinion 🔶
          <em>→ tirer des conclusions à partir d'événements similaires</em>
        </li>
        <li class="mb4">
          Expertise 🔷
          <em>→ organisme ou personne reconnu·e par les acteurs de son domaine</em>
        </li>
        <li class="mb4">
          Publication scientifique 🧪
          <em>→ vérification par un comité de lecture (évaluation par les pairs)</em></li>
        <li>
          Consensus scientifique 🧪🧪
          <em>→ compilation d'études (méta-analyse)</em>
        </li>
      </ul>
    </div>
    
    <div class="w11 txt-l fragment">
      <p><b>Exemples</b></p>
      <ul>
        <li class="mb8">
          Le GIEC fait une méta-analyse (🧪🧪), un recueil des études scientifiques sur le climat.
        </li>
        <li class="mb8">
          L'IPBES est l'équivalent du GIEC mais sur le sujet de la biodiversité. (🧪🧪)
        </li>
        <li class="mb8">
          Le World Resources Institute est un think-tank, reconnu (🔷), sur les questions écologiques.
        </li>
        <li class="mb8">
          Aurélien Barrau est un astrophysicien qui a publié dans des revues de science à comité de lecture. (🧪)
        </li>
        <li class="mb8">
          Aurélien Barrau a été interviewé plusieurs fois sur sa vision politique du problème écologique. (🔶)
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __2:00:30__
      * Rumeur : on ne sait pas si cela a eu lieu
      * Anecdote : on ne sait pas si ça arrive à chaque fois
      * Thinktank = groupe de recherche, organisme de recherche, laboratoire d'idées
    </aside>

  </section>

</section>
