<section>

  <section>
    <h2>La crise de l'Anthropocène</h2>

    <div class="w10 txt-l">
      <p><b>Définition vague.</b> Époque fortement marquée par l'impact des activités humaines sur les écosystèmes.</p>
      
      <p class="txt-c my32">
        Ressources naturelles
        <span class="mx8">$ \longrightarrow $</span>
        <span class="mx8 p16 boxed">Activités</span>
        <span class="mx8">$ \longrightarrow $</span>
        Déchets
      </p>

      <p><b>Idées importantes</b></p>
      <ul>
        <li class="mb16">
          Cette crise menace les conditions d'habitabilité de la Terre pour 8 milliards d'humains
          <br/><em>→ alimentation, santé, sécurité</em>
        </li>
        <li class="mb16">
          Le dérèglement climatique, la chute du vivant ne sont que des conséquences. La racine du problème, c'est l'intensité matérielle des activités humaines.
        </li>
        <li class="mb16">
          Il n'y a pas de solution simple. Tout est imbriqué, chaque réponse est imparfaite car elle se heurte à la complexité de sa question.
        </li>
        <li class="mb16">
          Bien comprendre le problème est indispensable pour adopter une <b>stratégie adaptée</b>.
        </li>
        <li class="mb16">
          On ne peut pas rester cloisonné dans sa discipline. Il faut raisonner en interaction avec les autres domaines pour avoir une <b>stratégie cohérente</b>.
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __2:11:00__
    </aside>

  </section>

</section>
