<section>

  <section>
    <h2>Anthropocène, capitalocène, dérégulocène... ?</h2>
    <p>Quel mot ? Quel coupable ?</p>

    <div class="w10 txt-l">
      <p>
        <b>Anthropocène</b> → La faute à l'humain ? <br/>
        L'humain est-il fautif par nature, par essence ?
      </p>
      <p>
        <b>Capitalocène</b> → La faute au capitalisme ? <br/>
        Au capitalisme tel qu'on le connaît ou au capitalisme en général ?
      </p>
      <p>
        <b>Dérégulocène</b> → La faute à la dérégulation excessive du système Terre ? <br/>
        Période durant laquelle notre emprise sur notre écosystème n'est plus régulée par « la nature ».
      </p>
      <p>
        <em>
          Définition de
          <a href="https://vincent-mignerot.fr/anthropocene-capitalocene-ou-deregulocene/">
            Vincent Mignerot
          </a>
          (chercheur indépendant) :
        </em>
      </p>
      <p>
        Période durant laquelle les capacités d’emprise progressivement acquises par une espèce particulière n’ont plus été régulées par les interactions de cette espèce avec l’ensemble du vivant.
      </p>
      <p>
        <em>→ Ne se limite pas aux humains</em>
      </p>
    </div>

    <aside class="notes" data-markdown>
      __2:16:00__
    </aside>

  </section>

</section>
