<section>

  <section data-transition="slide">
    <h2>En France</h2>
    <p>Empreinte carbone moyenne des français · 12 tCO2eq/an</p>
    <div class="w10">
      <canvas data-chart="bar">
        <!-- {
          "data": {
            "labels": ["Transport", "Logement", "Bien conso", "Alimentation", "Services"],
            "datasets": [
              { "label": "Voiture", "data": [1972, 0, 0, 0, 0], "backgroundColor": "#cd4e60", "barPercentage": 1.25 },
              { "label": "Avion", "data": [480, 0, 0, 0, 0], "backgroundColor": "#badb80", "barPercentage": 1.25 },
              { "label": "Fret & messagerie", "data": [383, 0, 0, 0, 0], "backgroundColor": "#3653bb", "barPercentage": 1.25 },
              { "label": "Train & bus", "data": [85, 0, 0, 0, 0], "backgroundColor": "#e18f68", "barPercentage": 1.25 },
              { "label": "Énergie et utilités", "data": [0, 1686, 0, 0, 0], "backgroundColor": "#d755ce", "barPercentage": 1.25 },
              { "label": "Construction & gros entretien", "data": [0, 675, 0, 0, 0], "backgroundColor": "#61ae68", "barPercentage": 1.25 },
              { "label": "Équipement des logements", "data": [0, 335, 0, 0, 0], "backgroundColor": "#70cae3", "barPercentage": 1.25 },
              { "label": "Achat et usages Internet et technologies", "data": [0, 0, 1180, 0, 0], "backgroundColor": "#e9d483", "barPercentage": 1.25 },
              { "label": "Autres biens et services", "data": [0, 0, 682, 0, 0], "backgroundColor": "#81309d", "barPercentage": 1.25 },
              { "label": "Habillement", "data": [0, 0, 763, 0, 0], "backgroundColor": "#333333", "barPercentage": 1.25 },
              { "label": "Viandes & poissons", "data": [0, 0, 0, 1144, 0], "backgroundColor": "#57968e", "barPercentage": 1.25 },
              { "label": "Produits laitiers et œufs", "data": [0, 0, 0, 408, 0], "backgroundColor": "#906846", "barPercentage": 1.25 },
              { "label": "Autres", "data": [0, 0, 0, 538, 0], "backgroundColor": "#aaaaaa", "barPercentage": 1.25 },
              { "label": "Boissons", "data": [0, 0, 0, 263, 0], "backgroundColor": "#000062", "barPercentage": 1.25 },
              { "label": "Services publics & santé", "data": [0, 0, 0, 0, 1489], "backgroundColor": "#712727", "barPercentage": 1.25 }
            ]
          },
          "options": {
            "title": { "text": [
              "Empreinte carbone moyenne des français·e·s 2015-2016.",
              "Données statistiques.developpement-durable.gouv.fr, Carbone4, Agreste, INSEE, ravijen.fr via The Shift Project. 🔷" ] },
            "scales":{
              "xAxes": [{ "stacked": "true", "gridLines": "#0000" }],
              "yAxes": [{ "stacked": "true", "scaleLabel" : { "display": "true", "labelString": "kgCO2eq / hab / an" } }] },
            "plugins": { "datalabels": { "opacity": "1" } }
          }
        } -->
      </canvas>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>
  
  <section>
    <p><b>Précisions</b></p>
    <ul class="w11">
      <li><b>Voiture</b> : usage et fabrication</li>
      <li><b>Energies et utilités</b> : gaz, produits pétroliers, spécifique, électricité, chaleur réseau, eau et déchets</li>
      <li><b>Construction et gros entretien</b> : neuf, rénovations, entretiens bricolage</li>
      <li><b>Équipement des logements</b> : gros électroménager, mobilier et autres biens durables</li>
      <li><b>Achat et usages internet et technologies</b> : serveurs et réseau informatique, informatique électronique</li>
      <li><b>Autres biens et services</b> : services privés (restauration, banque...), autres biens</li>
      <li><b>Viandes et poissons</b> : produits de la mer, ruminants, porc, volailles, autres</li>
      <li><b>Produits laitiers et oeufs</b> : lait, yaourt et produits frais, fromage, beurre, oeuf</li>
      <li><b>Autres alimentations</b> : végétaux et plats élaborés</li>
      <li><b>Boissons</b> : alcool et sans alcool</li>
    </ul>

    <p><b>Sources</b></p>
    <ul class="w11">
        <li>
          <a href="http://ravijen.fr/?p=440">
          ravijen.fr - L’empreinte carbone des français, un sujet tabou ?</a>
        </li>
        <li>
          <a href="https://theshiftproject.org/wp-content/uploads/2019/03/ZEY-Combloux-16032019.pdf#page=18">
          The Shift Project - Les sources de nos émissions de GES. </a> (slide 17) 🔷
        </li>
    </ul>
  </section>
  
</section>
