<section>

  <section data-transition="slide">
    <h2>Climato-négationnisme</h2>
    <p>ou « climato-sceptique »</p>

    <div class="w10 txt-l">
      <p><b>Définition</b>. Déni face à l'existence du dérèglement climatique ou face à la responsabilité des activités humaines dans le changement climatique.</p>
      <ul></ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>
  
</section>
