<section>

  <section data-transition="slide">
    <h2>En France</h2>
    <div class="w10 txt-l">
      <p><b>Inventaire carbone</b> : Mesure des émissions de GES (au sein d'un pays)</p>
      <p><b>Empreinte carbone</b> : Mesure des émissions de GES liés à la consommation (d'un pays)</p>
      <p class="txt-sm"><b>Empreinte écologique</b> : Impact néfaste sur les écosystèmes → pas quantifiable objectivement*</p>
    </div>
    <div class="w7 mt64">
      <canvas data-chart="horizontalBar">
        <!-- {
          "data": {
            "labels": ["Empreinte (11.9 t/hab)", "Inventaire (7.1 t/hab)"],
            "datasets": [
              { "label": "Interne", "data":[306, 306], "backgroundColor": "#554466" },
              { "label": "Importations", "data":[455, 0], "backgroundColor": "#d8381c" },
              { "label": "Exportations", "data":[0, 151], "backgroundColor": "#349680" }
            ]
          },
          "options": {
            "title": { "text": [ "Inventaire et empreinte carbone en France (2015).", "Données Eurostat, CITEPA, INSEE, IEA via ravijen.fr via The Shift Project. 🔷" ] },
            "scales":{
              "xAxes": [{ "stacked": "true", "scaleLabel" : { "display": "true", "labelString": "(MtCO2eq)" } }],
              "yAxes": [{ "stacked": "true" }] },
            "legend": { "position": "top" },
            "plugins": { "datalabels": { "opacity": "1" } }
          }
        } -->
      </canvas>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>
  
  <section>
    <p><b>Précisions</b></p>
    <ul>
        <li>
          * pas quantifiable objectivement : Il n'y a pas de mesure normative pour quantifier l'empreinte d'un individu sur les écosystèmes. On peut faire le parallèle avec la mesure de l'intelligence d'une personne. Il n'y a pas de norme pour mesurer l'intelligence d'une personne. Il n'existe que des indicateurs très imparfaits : le QI (bof car dépend de la culture du sujet), nombre de neuronnes (pertinent ?), la mémoire (est-ce qu'il y a un réel lien avec l'intelligence ?).
        </li>
    </ul>
    <p><b>Source</b></p>
    <ul>
        <li>
          Données compilées de Eurostat, CITEPA, INSEE, IEA <br/>
          traité par ravijen.fr
          via
          <a href="https://theshiftproject.org/wp-content/uploads/2019/03/ZEY-Combloux-16032019.pdf#page=17">
          The Shift Project - Les sources de nos émissions de GES. </a> (slide 17) 🔷
        </li>
    </ul>
  </section>
  
</section>
