<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Écoanxiété</h2>
    <p><b>Définition vague.</b> Douleur psychologique et/ou existentielle vis-à-vis de la crise de l'anthropocène</p>

    <div class="r-hstack center">
      <div class="txt-l w7 m0">
        <ul>
          <li>
            Appréhension de l'avenir avec angoisse
          </li>
          <li>
            Sentiment de distance avec le vivant
            <b class="fragment" data-fragment-index="0">→ psychoterratie</b>
          </li>
          <li>
            Sentiment d'impuissance
            <b class="fragment" data-fragment-index="0">→ écoparalysie</b>
          </li>
          <li>
            Deuil de nos écosystèmes perdus
            <b class="fragment" data-fragment-index="0">→ solastalgie</b>
          </li>
        </ul>
      </div>
      <div class="txt-l w3 m0">
        <div class="fragment" data-fragment-index="0">
          <br/>
          <div class="txt-xs op70">théorisés par <br/></div>
          <div>Glenn Albrecht<br/></div>
          <div class="txt-xs op70">philosophe australien</div>
        </div>
      </div>
    </div>

    <div class="w10 txt-l mt32 fragment" data-fragment-index="1">
      L'écoanxiété peut se traduire de manières très différentes.
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * deuil : mines de charbon en Australie
    </aside>
  </section>

  <section>
    <p><b>Sources</b></p>
    <ul>
      <li>
        Hayes, K., Blashki, G., Wiseman, J., Burke, S., Reifels, L.
        <a href="https://ijmhs.biomedcentral.com/track/pdf/10.1186/s13033-018-0210-6.pdf">
        Climate change and mental health: risks, impacts and priority actions
        </a>.
        (2018) International Journal of Mental Health Systems, 12(1).
        doi: 10.1186/s13033-018-0210-6
      </li>
      <li>
        Glenn Albrecht (website).
        <a href="https://glennaalbrecht.wordpress.com/2017/12/23/new-words-for-a-new-world/">
          Glossary of New Words for a New World (WordPress Links)
        </a>.
      </li>
    </ul>
  </section>

</section>
