<section>

  <section data-transition="slide">
    <h2>À l'échelle individuelle</h2>
    <p></p>

    <div class="w10 txt-l">
      <p><b>Source des études précédentes.</b> ravijen.fr, The Shift Project et Carbone 4. 🔷</p>
      <p><b>Idées importantes</b></p>
      <ul>
        <li class="mb8">Il faut prendre en compte son <b>empreinte carbone</b> et non pas son inventaire carbone.</li>
        <li class="mb8">Il faut faire des efforts dans tous les domaines <em>(alimentation, mobilité, logement...)</em>.</li>
        <li class="mb8">Les actions individuelles, poussées au maximum, peuvent contribuer à 50% de l'effort.</li>
        <li class="mb8">Les 50% restants doivent être réalisés par les entreprises et l'État.</li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>
  
</section>
