<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Écoanxiété</h2>
    <p>Appréhension de l'avenir avec angoisse</p>
    
    <div class="w10 txt-l">
      <p><b>Idées importantes</b></p>
      <ul class="mb32">
        <li>
          N'est pas forcément lié qu'à la crise de l'anthropocène
          <em>→ précarité, inégalités sociales...</em>
        </li>
        <li>
          Crainte des conséquences du dérèglement climatique
          <em>→ catastrophes naturelles, conflits, santé...</em>
        </li>
      </ul>
    </div>

    <div class="w10 txt-l fragment">
      <p><b>Pistes pour s'en prémunir</b> 🔶 <em>→ cette angoisse a de multiples formes donc difficile de généraliser</em></p>
      <ul>
        <li>
          Prendre connaissance des risques climatiques
          <em>→ France : inondations, sécheresses, santé...</em>
        </li>
        <li>
          Se forger un réseau d'amis proches
          <em>→ l'entraide et le collectif vont remplacer l'individualisme</em>
        </li>
      </ul>
    </div>
  
    <aside class="notes" data-markdown>
      __0:XX:00__
      * Écoanxiété et angoisse sont distinctes. Mais souvent écoanxiété se traduit par angoisse (la réciproque est fausse)
      * Pistes : plus facile à dire qu'à faire
      * Amis proches : gens sur qui on peut vraiment compter
    </aside>
  </section>

</section>
