<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Écoanxiété</h2>
    <p>Deuil de nos écosystèmes perdus</p>

    <div class="w10 txt-l">
      <p>
        <b>Solastalgie</b> <em>(Glenn Albrecht)</em>.
        Le mal du pays alors qu'on est chez nous. Le sentiment de ne plus être chez soi alors qu'on est resté chez soi. C'est l'expérience tragique d'un changement environnemental négatif. C'est aussi l'expression d'une empathie envers le vivant.
      </p>
      <ul>
        <li>Désolation</li>
        <li>Douleur</li>
        <li>Isolation</li>
      </ul>
    </div>
    
    <div class="w10 txt-l">
      <p>
        <b>Soliphilie</b> <em>(Glenn Albrecht)</em>.
        L'amour pour un lieu et les liens qu'on entretient avec lui et la volonté d'endosser la responsabilité politique pour les protéger aux niveaux global et local.
      </p>
      <ul>
        <li>Réconfort</li>
        <li>Appartenance et amour</li>
        <li>Solidarité</li>
      </ul>
    </div>
  
    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>

  <section>
    <p><b>Sources</b></p>
    <ul>
      <li class="mb16">
        « She was expressing her most profound distress at what was happening to her home environment. [...] This is something that came across often in the interviews that people were in extremely emotional about the fact that their loved home environment was being destroyed by forces that they had no control over. »
        Glenn Albrecht (TEDxSydney) 2010.
        <a href="https://youtu.be/-GUGW8rOpLY?t=11">
        Environment Change, Distress & Human Emotion Solastalgia</a>. (12:27)
      </li>
      <li class="mb16">
        « Ecocide adversely impacts on many levels, there can be harm both ecological and cultural. Our emotions and our senses are affected; we feel and see the adverse impact of ecocide. Communities most harmed by ecocide suffer what is known as solastalgia. »
        Glenn Albrecht (website) 2019.
        <a href="https://glennaalbrecht.wordpress.com/2019/04/22/ecocide-and-solastalgia/">
        Ecocide and Solastalgia</a>.
      </li>
      <li class="mb16">
        « Solastalgia has its origins in the concepts of “solace” and “desolation”. Solace has meanings connected to the alleviation of distress or to the provision of comfort or consolation in the face of distressing events. Desolation has meanings connected to abandonment and loneliness. The suffix -algia has connotations of pain or suffering. »
        Glenn Albrecht (theconversation.com) 2012. <a href="https://theconversation.com/the-age-of-solastalgia-8337">
        The age of solastalgia</a>.
      </li>
      <li class="mb16">
        « Solastalgia is the lived experience of negative environmental change. »
        Glenn Albrecht (website) 2019.
        <a href="https://glennaalbrecht.wordpress.com/2019/06/19/solastalgia-pfas-and-the-psyche-contamination-at-williamtown-nsw/">
        Solastalgia, PFAS and the Psyche: Contamination at Williamtown, NSW</a>.
      </li>
      <li class="mb16">
        « “Soliphilia” is the love of the totality of our place relationships, and a willingness to accept the political responsibility for protecting and conserving them at all scales. »
        Glenn Albrecht (website) 2019.
        <a href="https://glennaalbrecht.wordpress.com/2019/09/08/soliphilia/">
        Soliphilia</a>.
      </li>
    </ul>
  </section>

</section>
