<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Écoanxiété</h2>
    <p>Deuil de nos écosystèmes perdus</p>

    <div class="w10 txt-l">
      <p><b>Cinq étapes du deuil</b> <em>→ de Kübler-Ross</em></p>
      <ul>
        <li class="mb8">
          Déni <em>→ « Le climat ne change pas » « Tous les animaux s'adapteront, ils l'ont toujours fait »</em>
        </li>
        <li class="mb8">
          Colère <em>→ « Le GIEC ? Des privilégiés qui prennent tous l'avion »</em>
        </li>
        <li class="mb8">
          Marchandage <em>→ « La technologie va nous sauver »</em>
        </li>
        <li class="mb8">
          Dépression <em>→ « À quoi bon ? On est tous foutu »</em>
        </li>
        <li class="mb8">
          Acceptation <em>→ « Les victorieux ont tous essayé, on passe à l'action ! »</em>
        </li>
      </ul>
    </div>

    <div class="w10 txt-l">
      <p><b>Idées importantes</b></p>
      <ul>
        <li class="mb8">
          Le deuil n'est pas agréable, être accompagné ou groupé est une aide pour le surmonter
        </li>
        <li class="mb8">
          C'est parce qu'on passe à l'action, qu'on trouve le collectif, la joie d'agir ensemble et qu'on retrouve l'espoir. <em>→ L'espoir arrive après la mise en action, et non avant</em>
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Les marches pour le climat reste des lieux festifs
    </aside>
  </section>

</section>
