<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Écoanxiété</h2>
    <p>Sentiment de distance avec le vivant</p>
    
    <div class="w11 txt-l">
      <p><b>Civilisation « hors-sol ».</b> Concept qui décrit la déconnexion quasi-totale avec les équilibres du vivant pourtant indispensables à notre prospérité.</p>
    </div>

    <div class="w11 txt-l fragment">
      <p class="mb4">Exemples caractéristiques : 🔶</p>
      <ul class="op70">
        <li>manger ce qu'on a acheté en supermarché et non pas ce qu'on a cueilli ou cultivé</li>
        <li>vivre en zone urbaine, marcher sur de l'asphalt et travailler dans un air climatisé</li>
      </ul>
    </div>

    <div class="w11 txt-l fragment">
      <p class="mb4">Ce côté « hors-sol » peut être :</p>
      <ul>
        <li>
          Désiré.
          <span class="op70">Tendance au détachement, au désintérêt, à l'ignorance vis-à-vis du vivant</span>
          <b>→ écoagnosie</b>
        </li>
        <li>
          Subi.
          <span class="op70">Tendance à une souffrance liée à la distance avec le vivant</span>
          <b>→ psychoterratie</b>
        </li>
        <li>
          Désiré et subi.
          <span class="op70">Cas le plus courant qui traduit la double-facette malsaine du confort</span>
        </li>
      </ul>
    </div>

    <div class="w11 txt-l fragment">
      <p class="mb4"><b>Réactions à la psychoterratie</b></p>
      <ul>
        <li>Faire un potager ; Apprendre à reconnaître les arbres, les oiseaux et les plantes</li>
        <li>Adopter un animal de compagnie ; Rencontrer de nouvelles personnes très différentes de soi</li>
        <li>Quitter son emploi de bureau pour ouvrir une boulangerie ou élever des chèvres en Corrèze</li>
      </ul>
    </div>
  
    <aside class="notes" data-markdown>
      __0:XX:00__
      * volontaire : confort de vie
      * subi : on ne veut pas sortir de sa zone de confort
    </aside>
  </section>

  <section>
    <p><b>Sources</b></p>
    <ul>
      <li>
        « Disconnection from nature can be bad for our mental health. But there was no name for this particular malaise until Australian sustainability professor Glenn Albrecht coined the term psychoterratic, creating the beginning of a vocabulary to discuss the relationship between mental health and environment. »
        Quartz 2019.
        <a href="https://qz.com/1557308/psychoterratica-is-the-trauma-caused-by-distance-from-nature/">
        There is a word for the trauma caused by distance from nature</a>.
      </li>
      <li>
        « Ecoagnosy: ignorance of ecology (agnosy is a synonym for ignorance) »
        Glenn Albrecht (website) 2017.
        <a href="https://glennaalbrecht.wordpress.com/2017/07/27/ecoagnosy/">
        Ecoagnosy</a>
      </li>
    </ul>
  </section>

</section>
