<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Écoanxiété</h2>
    <p>Sentiment d'impuissance</p>
    
    <div class="w10 txt-l">
      <p><b>Impuissance individuelle</b></p>
      <ul>
        <li>Être persuadé·e que le colibrisme est voué à l'échec</li>
        <li>Penser que ses actions ne permettront pas de stopper les catastrophes autour du monde</li>
      </ul>
    </div>
    
    <div class="w10 txt-l">
      <p><b>Impuissance collective</b></p>
      <ul>
        <li>Se dire que les marches pour le climat et les revendications ne sont pas entendues</li>
        <li>Croire qu'on arrivera jamais à se mettre d'accord</li>
      </ul>
    </div>
  
    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>

</section>
