<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Soliphilie et symbiocène</h2>
    <p>Un idéal vers lequel il faudrait tendre</p>
    
    <div class="w10 txt-l">
      <p>
        <b>Soliphilie</b> <em>(Glenn Albrecht)</em>.
        L'amour pour un lieu et les liens qu'on entretient avec lui et la volonté d'endosser la responsabilité politique pour les protéger aux niveaux global et local.
      </p>
      <ul>
        <li>Amour du paysage mais aussi des êtres vivants qui y vivent <em>→ plantes, animaux et humains</em></li>
        <li>Solidarité et intérêts communs <em>→ en opposition à l'individualisme</em></li>
        <li>Implication, engagement et citoyenneté</li>
      </ul>

      <p class="mt32">
        <b>Symbiocène</b> <em>(Glenn Albrecht)</em>.
        Période de l'histoire qui suivrait et mettrait fin à l'anthropocène caractérisée par une propagation de la soliphilie parmi les humains.
      </p>
      <ul>
        <li>« symbiosis », vivre ensemble pour en tirer des bénéfices communs</li>
      </ul>
    </div>
  
    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>

  <section>
    <p><b>Sources</b></p>
    <ul>
      <li class="mb16">
        « The scientific meaning of the word ‘symbiosis’ implies living together for mutual benefit and I wish to use this profoundly important concept as the basis for what I hope will be the next period of Earth history. »
        Glenn Albrecht (website) 2015.
        <a href="https://glennaalbrecht.wordpress.com/2015/12/17/exiting-the-anthropocene-and-entering-the-symbiocene/">
        Exiting The Anthropocene and Entering The Symbiocene</a>.
      </li>
    </ul>
  </section>

</section>
