<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Écoanxiété</h2>
    <p>Sentiment d'impuissance</p>
    
    <div class="w11 txt-l">
      <p class="mb4"><b>Impuissance individuelle</b></p>
      <ul>
        <li class="op70">Être persuadé·e que le colibrisme est voué à l'échec</li>
        <ul class="pl16 mt4 mb16 fragment">
          <li>Les écogestes peuvent représenter jusqu'à 50% de l'objectif de décarbonation 🔷</li>
          <li>Il n'y a qu'un seul pari gagnant : c'est d'essayer 🔶</li>
        </ul>

        <li class="op70">Penser que ses actions ne permettront pas de stopper les catastrophes autour du monde</li>
        <ul class="pl16 mt4 fragment">
          <li>Personne à lui ou elle seul·e ne peut résoudre tous les soucis du monde 🔶</li>
          <li>Un individu n'est pas responsable de l'entièreté des souffrances du monde 🔶</li>
          <li>« Agis dans ton lieu, pense avec le monde » Édouard Glissant <em>→ romancier et poète martiniquais</em> 🔶</li>
        </ul>

      </ul>
    </div>
    
    <div class="w11 txt-l">
      <p class="mb4"><b>Impuissance collective</b></p>
      <ul>
        <li class="op70">Se dire que les marches pour le climat et les revendications ne sont pas entendues</li>
        <ul class="pl16 mt4 mb16 fragment">
          <li>Les effets se feront sentir sur le long terme 🔶</li>
          <li>Repenser les mobilisations : faire groupe au lieu de faire masse 🔶</li>
        </ul>

        <li class="op70">Croire qu'on arrivera jamais à se mettre d'accord</li>
        <ul class="pl16 mt4 mb16 fragment">
          <li>Lorsqu'on s'implique tous ensemble, on trouve un compromis <em>(voir cours sur la citoyenneté)</em> 🔶</li>
        </ul>
      </ul>
    </div>
  
    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>

  <section>
    <p><b>Source</b></p>
    <ul>
      <li>
        « C’est seulement un imaginaire du monde, c’est-à-dire une conception de la mondialité, qui
        nous permettra de lutter contre les aspects négatifs de la mondialisation. Je crois qu’il
        faut adopter le principe : agis dans ton lieu, pense avec le monde. C’est cela la mondialité.
        Une politique du monde qui s’oppose aux aspects négatifs de la mondialisation. »
        L'humanité, 6 février 2007.
        <a href="https://www.humanite.fr/03_02_2011-%C3%A9douard-glissant-%C2%AB-agis-dans-ton-lieu-pense-avec-le-monde-%C2%BB-464219">
        Édouard Glissant : « Agis dans ton lieu, pense avec le monde! »</a>
      </li>
    </ul>
  </section>

</section>
