<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>Déchets d'équipements électriques et électroniques (DEEE)</p>
    
    <div class="w11 txt-l r-hstack">
      <div class="w6">
        <div>
          <img class="m0" src="/assets/img/pollution-electronics.jpg"/>
        </div>
        <p>
          <b>Exemples.</b> pile, lampe, téléphone, imprimante et cartouche,
          écran, câble, panneau photovoltaïque...
        </p>
      </div>
      <div class="w6">
        <p class="txt-sm">Indications approximatives :</p>
        <p>
          <b>Composition.</b> métaux <em>(acier, cuivre, cobalt, indium,
          tantale)</em>, plastique, verre, minéraux, circuits imprimés
        </p>
        <p>
          <b>Causes.</b> faible démontabilité et donc recyclage difficile
          après fin de vie — quantité massive
        </p>
        <p>
          <b>Impacts.</b> pollution des sols et des eaux <em>(dépôt sauvage)
          </em> — pollution de l'air <em>(incinération)</em> → <em>exemples en
          Inde, Chine, Ghana, Côte d'Ivoire, Nigeria</em>
        </p>
        <p>
          <b>Étendue.</b> locale au dépôt sauvage — <br/> 120 ktonnes/j
          <em>(monde) </em> — 5.4 ktonnes/j
          <em>(France)</em> collectés à 50%*, recyclés à 37%*
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * pollutions : acidification des sols, dispersions métalliques,
      émission de dioxines dans l'air
    </aside>

  </section>
  
  <section class="txt-sm">
    <p><b>Précisions</b></p>
    <ul>
      <li>
        * Le taux de collecte est calculé suivant la moyenne du tonnage d'EEE
        mis sur le marché sur les 3 années précédentes (voir ci-dessous : ADEME - Registre DEEE
        pour les détails)
      </li>
    </ul>
    <p><b>Sources</b></p>
    <ul>
      <li>
        Image :
        <a href="https://search.creativecommons.org/photos/d74e2e1f-d474-4e81-b450-306d2ca22e28">
        escrappers_pic  (by baselactionnetwork)</a>
      </li>
      <li>
        « By 2016, the world generated 44.7 million metric tonnes (Mt) of
        e-waste and only 20% was recycled through appropriate channels. »
        <a href="https://www.itu.int/dms_pub/itu-d/opb/gen/D-GEN-E_WASTE.01-2017-PDF-E.pdf">
        Baldé, C. P., et al., The Global E-waste Monitor 2017, UNU, ITU, ISWA,
        2017</a> <br/>
        44.7 / 365 = 0.122 Mtonnes/j
      </li>
      <li>
        « 1 955 056 tonnes d'EEE mis sur le marché en 2018 »
        <a href="https://librairie.ademe.fr/cadic/4967/equipements-electriques-electroniques_deee_donnees2019_rapport2021.pdf?modal=false#page=76&zoom=80,8,-21">
        ADEME - Registre DEEE - Données 2019</a> (p. 76) <br/>
        1 955 / 365 = 5.35 ktonnes/j
      </li>
      <li>
        « 854 906 tonnes de DEEE ont été collectées en France en 2019 [...]
        Avec un taux de collecte global de 47,5 % »
        <a href="https://librairie.ademe.fr/cadic/4967/equipements-electriques-electroniques_deee_donnees2019_rapport2021.pdf?modal=false#page=24&zoom=auto,-13,753">
        ADEME - Registre DEEE - Données 2019</a> (p. 24) <br/>
      </li>
      <li>
        « Composition des DEEE ménagers »
        <a href="https://librairie.ademe.fr/cadic/4967/equipements-electriques-electroniques_deee_donnees2019_rapport2021.pdf?modal=false#page=90&zoom=auto,-13,753">
        ADEME - Registre DEEE - Données 2019</a> (p. 90) <br/>
      </li>
      <li>
        « Total traité (valorisé énergétiquement + recyclé + réutilisé par
        pièces + détruit + préparé pour réutilisation) : 846 229 tonnes ;
        Préparation à la réutilisation et au recyclage : 647 669 tonnes ;
        Taux de réutilisation et recyclage : 77% »
        <a href="https://librairie.ademe.fr/cadic/4967/equipements-electriques-electroniques_deee_donnees2019_rapport2021.pdf?modal=false#page=96&zoom=80,-144,10">
        ADEME - Registre DEEE - Données 2019</a> (p. 97) <br/>
        Taux de recyclés et réutilisés parmi tous les EEE mis sur le marché :
        47.5% * 77% = 36.5%
      </li>
    </ul>
    <p><b>Ressources</b></p>
    <ul>
      <li>
        <a href="https://ecoinfo.cnrs.fr/wp-content/uploads/2018/04/GRIMAUD-Intervention-EcoInfo-Recyclage-DEEE-20180406-1.pdf">
        DEEE : un exemple de centre de traitement en France</a> Guilhem Grimaud,
        MTB Recycling
      </li>
    </ul>
  </section>

</section>
