<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>Déchets plastiques</p>
    
    <div class="w11 txt-l r-hstack">
      <div class="w6">
        <div>
          <img class="m0" src="/assets/img/pollution-plastic.jpg"/>
          <em class="txt-sm">Déchets plastiques sur une plage de San Francisco
          </em>
        </div>
        <p>
          <b>Exemples.</b> polystyrène, mégots, bouteilles...
        </p>
      </div>
      <div class="w6">
        <p class="txt-sm">Indications approximatives :</p>
        <p>
          <b>Causes et motifs.</b> abandon de détritus — faible coût, facilité de
          production, faible biodégradabilité et usage massif du matériau
          plastique
        </p>
        <p>
          <b>Impacts.</b> intoxication par ingestions chez certains animaux
          <em>(oiseaux, ver de terre, poissons...)</em> — effets de l'ingestion
          par l'humain encore incertain
        </p>
        <p>
          <b>Étendue.</b> de locale à mondiale — 54 ktonnes/j <em>(monde)</em>
        </p>
        <p>
          <b>Diffusion.</b> vent et cours d'eau — bioaccumulation (chaîne
          alimentaire)
        </p>
        <p>
          <b>"Réversibilité".</b> biodégradabilité : quelques années à
          plusieurs millénaires
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * économie du « tout-jetable »
    </aside>

  </section>

  <section>
    <p><b>Sources</b></p>
    <ul>
      <li>
        Image :
        <a href="https://search.creativecommons.org/photos/d74e2e1f-d474-4e81-b450-306d2ca22e28">
        Plastic Ocean (by Kevin Krejci)</a>
      </li>
      <li>
        « We estimate that 19 to 23 million metric tons, or 11%, of plastic
        waste generated globally in 2016 entered aquatic ecosystems. »
        <a href="https://science.sciencemag.org/content/369/6510/1515">
        Predicted growth in plastic waste exceeds efforts to mitigate plastic
        pollution, </a>. DOI: 10.1126/science.aba3656 <br/>
        20 / 365 = 0.054 Mtonnes/j
      </li>
    </ul>
  </section>

</section>
