<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>Déchets radioactifs (ou nucléaires)</p>
    
    <div class="w11 txt-l r-hstack">
      <div class="w6">
        <div class="flex justify-between pr64 mb8">
          <img class="m0 w6 mr16" src="/assets/img/andra-csa.png"/>
          <img class="m0 w6" src="/assets/img/andra-cigeo.png"/>
        </div>
        <em class="txt-sm">
          Centre de stockage de l’Aube pour les déchets FMA-VC (gauche).
          Conteneurs pour déchets MA-VL et HA destinés à être
          enfoui en couche géologique profonde à Bure (droite).
        </em>
        <p>
          <b>Émetteurs.</b> électronucléaire, recherche, défense, médical,
          mines, centrales à charbon...
        </p>
      </div>
      <div class="w6">
        <p class="txt-sm">Indications approximatives :</p>
        <p>
          <b>Répartition</b>* <em>(France)</em>. électronucléaire (60%),
          recherche (30%), défense (10%), autres...
        </p>

        <div class="flex">
          <div>
            <b>Classification.</b> <br/>
            <em>(France)</em> <br/>
            <span class="txt-sm">(% volume stocké)</span>
          </div>
          <table class="txt-sm">
            <thead>
              <tr>
                <th class="op80">Activité</th>
                <th>Vie courte</th>
                <th>Vie longue</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Très faible</th>
                <td colspan="2" class="txt-c">TFA (30%)</td>
              </tr>
              <tr>
                <th>Faible</th>
                <td rowspan="2" class="txt-c v-align-mid">FMA-VC (60%)</td>
                <td>FA-VL (6%)</td>
              </tr>
              <tr>
                <th>Moyenne</th>
                <td>MA-VL (3%)</td>
              </tr>
              <tr>
                <th>Haute</th>
                <td colspan="2" class="txt-c">HA (0.2%)</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>
          <b>Quantité</b> <em>(France)</em>. 38 800 m<sup>3</sup>/an dont
          150 m<sup>3</sup>/an (HA) <br/>
          <em>
            → ordures ménagères : 126 800 000 m<sup>3</sup>/an (hors déchets de
            construction et industriels)
          </em>
        </p>
        <p>
          <b>Risques.</b> dépendent de l'activité — <em>aucune hausse de mortalité
          liée à l'irradiation par déchets nucléaires (France)</em>
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Emetteurs. Recherche en physique des particules : ex. CERN
      * 150 m3 : un appart de 60m2

      * "9% de la masse de tous les déchets" → manque les déchets industriels
      et de construction
    </aside>

  </section>

  <section class="txt-sm">
    <p><b>Sources</b></p>
    <ul>
      <li>Images de l'ANDRA</li>
      <li>
        * Répartition du volume de déchets (en éq. conditionné) déjà stockés ou
        destinés à être pris en charge à fin 2019 « électronucléaire 59.9% ;
        recherche 27.0% ; défense 8.9% ; industrie non-électronucléaire 3.4% ;
        médical 0.7% »
        <a href="https://inventaire.andra.fr/sites/default/files/documents/pdf/fr/andra_essentiels_2021_in_web.pdf#page=15&zoom=auto,-13,652">
        ANDRA - Inventaire national des matières et déchets radioactifs (2021)</a>
      </li>
      <li>
        « Volume (m<sup>3</sup>) déchets HA: 400 (2007-2010) ; 500 (2010-2013)
        ; 440 (2013-2016) ; 90 (2016-2017) ; 140 (2017-2018) ; 200 (2018-2019)
        ; soit 147.5 m<sup>3</sup> en moyenne par an» <br/>
        « Volume (m<sup>3</sup>) déchets totaux: 1 670 000 (2019) ; 1 320 000
        (2010) ; soit 38 800 m<sup>3</sup> en moyenne par an »
        <a href="https://inventaire.andra.fr/sites/default/files/documents/pdf/fr/andra_essentiels_2021_in_web.pdf#page=15&zoom=auto,-13,652">
        ANDRA - Inventaire national des matières et déchets radioactifs (2021)</a>
        (antérieurs : <a href="https://inventaire.andra.fr/sites/default/files/documents/pdf/fr/andra-maj_essentiels_2020-web.pdf#page=14&zoom=auto,-13,577">
        2020</a>,
        <a href="https://inventaire.andra.fr/sites/default/files/documents/pdf/fr/inventaire_national-essentiels-2019.pdf#page=14&zoom=auto,-13,649">
        2019</a>,
        <a href="https://inventaire.andra.fr/sites/default/files/documents/pdf/fr/andra-les_essentiels-2018.pdf#page=14&zoom=auto,-13,713">
        2018</a>,
        <a href="https://meusehautemarne.andra.fr/sites/meuse/files/2018-04/les-essentiels-2015.pdf">
        2015</a>,
        <a href="https://meusehautemarne.andra.fr/sites/meuse/files/2017-12/450.pdf#page=5&zoom=110,-33,619">
        2012</a>)
      </li>
      <li>
        « Déchets toutes catégories par habitant et par an : 568 kg (déchets ménagers) ; 700 kg 
        (déchets industriels) ; 3400 kg (déchets de construction) »
        <a href="https://www.ademe.fr/expertises/dechets/chiffres-cles-observation/chiffres-cles">
        ADEME - Déchets chiffres clés</a><br/>
        « Ordures ménagères : 300 kg/m<sup>3</sup> »
        <a href="https://www.sindra.org/les-dechets-en-auvergne-rhone-alpes/dechets-non-dangereux/fonctionnement-de-sindra/densite-des-dechets">
        SINDRA - Densité des déchets collectés en déchèterie</a><br/>
        568 / 300 * 67 000 000 = 126 800 000 m<sup>3</sup>/an de déchets
        ménagers
      </li>
      <li>
        « L’analyse par localisation de cancer ne montre pas d’excès
        statistiquement significatif par rapport à la population française. »
        <a href="https://www.irsn.fr/FR/Larecherche/Organisation/equipes/radioprotection-homme/Lepid/Pages/Lepid-cohorte-EDF.aspx">
        IRSN - La cohorte française des travailleurs du nucléaire d’EDF</a>
      </li>
    </ul>
    <p><b>Ressources</b></p>
    <ul>
      <li>
        <a href="https://inventaire.andra.fr/sites/default/files/documents/pdf/fr/andra_essentiels_2021_in_web.pdf">
        ANDRA - Inventaire national des matières et déchets radioactifs (2021)</a>
      </li>
    </ul>
  </section>

</section>
