<section>

  <section data-transition="slide">
    <h2>Activités économiques</h2>
    <p>Deux exemples simplifiés</p>
    
    <div class="txt-l">
        
      <div class="flex justify-center align-items-center my64">
        <div class="txt-r ml64">
          <div class="my16 flex align-items-center justify-content-end">
            <div>
              bois, fer (<em>acier</em>), sable (<em>verre</em>) <br/>
              eau, pétrole ou résine (<em>peinture/vernis</em>)
            </div>
            <div class="mx16">$ \longrightarrow $</div>
          </div>
          <div class="my16 flex align-items-center justify-content-end">
            <div>
              pétrole (<em>transport</em>) <br/>
              charbon, gaz, hydroélec. (<em>électricité</em>)
            </div>
            <span class="mx16">$ \longrightarrow $</span>
          </div>
        </div>

        <div class="mx8 p16 py64 boxed">Fabrication <br/> de meubles</div>

        <div class="txt-l">
          <div class="my16">
            <span class="mx16">$ \longrightarrow $</span>
            tables, chaises, placard...
          </div>
          <div class="my16">
            <span class="mx16">$ \longrightarrow $</span>
            chutes de bois, d'aciers...
          </div>
          <div class="my16">
            <span class="mx16">$ \longrightarrow $</span>
            gaz à effet de serre
          </div>
          <div class="my16">
            <span class="mx16">$ \longrightarrow $</span>
            autres déchets divers
          </div>
        </div>
      </div>
        
      <div class="flex justify-center align-items-center my64">
        <div class="txt-r ml64">
          <div class="my16 flex align-items-center justify-content-end">
            <div>
              blé (<em>tortilla</em>), bœuf, oignons..., avocat (<em>guacamole</em>) <br/>
              pétrole (<em>plastique</em>), métal et bois (<em>ustensiles</em>)
            </div>
            <div class="mx16">$ \longrightarrow $</div>
          </div>
          <div class="my16 flex align-items-center justify-content-end">
            <div>
              pétrole (<em>transport</em>), bois ou gaz (<em>cuisson</em>) <br/>
              ou charbon, gaz, hydroélec. (<em>électricité</em>)
            </div>
            <span class="mx16">$ \longrightarrow $</span>
          </div>
        </div>

        <div class="mx8 p16 py64 boxed">Confection <br/> de tacos</div>

        <div class="txt-l">
          <div class="my16">
            <span class="mx16">$ \longrightarrow $</span>
            tacos
          </div>
          <div class="my16">
            <span class="mx16">$ \longrightarrow $</span>
            plastique..., carcasse bœuf...
          </div>
          <div class="my16">
            <span class="mx16">$ \longrightarrow $</span>
            gaz à effet de serre
          </div>
          <div class="my16">
            <span class="mx16">$ \longrightarrow $</span>
            autres déchets divers
          </div>
        </div>
      </div>
        
    </div>

    <aside class="notes" data-markdown>
    </aside>

  </section>

</section>
