<section>

  <section data-transition="slide">
    <h2>Anthropocène</h2>
    
    <div class="w8 txt-l">
      <p><b>Définition vague.</b> Époque fortement marquée par l'impact des activités humaines sur les écosystèmes.</p>

      <div class="my64 boxed p32" style="border: 3px dotted #fff8; border-radius: 2rem">
        <div class="flex mb16 space-between align-items-center">
          <div class="op70">Prélèvement de <br/> ressources primaires</div>
          <div class="op70">Assimilation des rejets</div>
        </div>
        
        <div class="flex justify-center align-items-center">
          <div class="txt-r ml64">
            <div class="my16">
              Matériaux
              <span class="mx16">$ \longrightarrow $</span>
            </div>
            <div class="my16">
              Énergie
              <span class="mx16">$ \longrightarrow $</span>
            </div>
          </div>

          <div class="mx8 p16 py64 boxed">Activités humaines</div>

          <div class="txt-l">
            <div class="my16">
              <span class="mx16">$ \longrightarrow $</span>
              Biens matériels
            </div>
            <div class="my16">
              <span class="mx16">$ \longrightarrow $</span>
              Déchets
            </div>
          </div>
        </div>
      </div>
    </div>

    <aside class="notes" data-markdown>
    * Conservation de la masse et de l'énergie → matière et énergie sont déjà
    existantes ; on les prélève dans la nature ; on ne les produit pas
    </aside>

  </section>

</section>
