<section>

  <section data-transition="slide">
    <h2>Activités économiques</h2>
    <p>Exemple de circuit de production de la filière viande en France</p>
    <img src="/assets/img/meat-production-circuit-france-{{ global.theme }}.svg"/>
  </section>

</section>
