<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>par les nitrates et phosphates</p>
    
    <div class="w11 txt-l r-hstack">
      <div class="w6">
          <img class="m0" src="/assets/img/pollution-eutrophication.jpg"/>
          <em class="txt-sm">Marée verte sur la plage du Dossen (Bretagne).
          Les nitrates et phosphates favorisent la prolifération d'espèces
          invasives, destabilisant les écosystèmes.</em>
      </div>
      <div class="w6">
        <p class="txt-sm">Indications approximatives :</p>
        <p>
          <b>Émetteurs.</b> agriculture (engrais), industries, déjections
          humaines et animales, détergents phosphatées
        </p>
        <p>
          <b>Impact.</b> eutrophisation (algues invasives ou marées vertes)
          <em>→ asphyxie des écosystèmes aquatiques</em> — fermeture de
          captage d'eau potable
        </p>
        <p>
          <b>Diffusion.</b> pluies et cours d'eau
        </p>
        <p>
          <b>Étendue.</b> nappes souterraines locales — cours d'eau
          et sa plaine alluviale
        </p>
        <p>
          <b>En savoir plus.</b>
          <a href="https://www.statistiques.developpement-durable.gouv.fr/sites/default/files/2021-02/datalab_80_chiffres_cles_eau_edition_2020_decembre2020v2.pdf#page=40&zoom=auto,-28,46">
          Datalab - chiffres clés 2020</a>
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

  <section>
    <p><b>Ressources</b></p>
    <ul>
      <li>
        Image :
        <a href="https://commons.wikimedia.org/wiki/File:Mar%C3%A9e_verte_-_Ulva_Armoricana_-_en_nord_Finist%C3%A8re_-_002.JPG">
        Marée verte - Ulva Armoricana - en nord Finistère (by Thesupermat)</a>
      </li>
      <li>
        <a href="https://www.ecologie.gouv.fr/lutte-contre-pollutions-leau">
        Ministère de la Transition Écologique - Lutte contre les pollutions de
        l'eau</a>
      </li>
      <li>
        <a href="https://www.statistiques.developpement-durable.gouv.fr/sites/default/files/2021-02/datalab_80_chiffres_cles_eau_edition_2020_decembre2020v2.pdf#page=40&zoom=auto,-28,46">
        Gouv FR - Stats Développement durable - Datalab - Eau et milieux
        aquatiques (2020)</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=uGp3FuQnQWU">
        Youtube - Le Réveilleur - l'Eutrophisation</a>
      </li>
    </ul>
  </section>

</section>
