<section>

  <section data-transition="slide">
    <h2>Pollution et activité verte</h2>
    
    <div class="w10 txt-l">
      <p>
        <b>Pollution.</b> Effet indésirable d'une activité économique pour les 
        écosystèmes et/ou les humains.
      </p>

      <p class="txt-bold txt-c mt64 fragment">Activité propre ?</p>

      <p class="fragment">
        Une activité « propre » est une activité qui « laisse en l'état »,
        donc qui ne transforme pas, qui n'a pas d'effet. Ce n'est donc pas une
        activité. Par définition, une activité propre n'existe donc pas.
      </p>

      <p class="mt64 fragment">
        <b>Activité verte.</b> Activité dont les pollutions
        <span class="txt-bold">nous</span> paraîssent acceptables.
      </p>

      <p class="fragment">
        Le caractère « vert » d'une activité est purement subjectif
        <em>→ « nous paraîssent »</em>
        <br/>
        <span class="pr16">$ \Rightarrow $</span>
        la science ne peut pas juger si une activité est verte ou non<br/>
        <span class="pr16">$ \Rightarrow $</span>
        en démocratie, c'est au peuple d'en débattre et d'en décider
      </p>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * "subjectif" = dépend des gens, des pays, de l'époque...
    </aside>

  </section>

</section>
