<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    
    <div class="w9 txt-l" data-markdown>
      **Idée.** À tort, on a tendance à ne s'occuper que des pollutions
      qu'on peut voir ou toucher. Et on passe à côté des :
      * pollutions dont les conséquences ont lieu loin de chez nous.
      * pollutions qu'on ne détecte pas avec nos 5 sens.
      * pollutions qui s'installent progressivement dans le temps.
      * pollutions qui ne nous menacent pas à court terme.
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Le dérèglement climatique en est un exemple frappant
      * Autre exemple : le smog de Londres en 1952 → 
    </aside>

  </section>

</section>
