<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>par les particules fines d'origine humaine</p>
    
    <div class="w11 txt-l r-hstack">
      <div class="w6">
        <img src="/assets/img/pollution-particle-matter.jpg"/>
        <em class="txt-sm">Les cheminées de chauffage à bois en foyer ouvert
        sans filtre à particules sont de grandes émettrices de particules
        fines en France.
        </em>
      </div>
      <div class="w6">
        <p class="txt-sm">Indications approximatives :</p>
        <p>
          <b>Causes.</b> chauffage au bois <em>(en foyer ouvert et appareils
          anciens)</em> — agriculture <em>(travail du sol et combustions)</em>
          — industrie <em>(chantiers, mines et métallurgie)</em> — transport
          <em>(diesel, usure des routes, pneus et freins)</em>
        </p>
        <p>
          <b>Impacts.</b> favorisent maladies cardio-vasculaires et pathologies
          respiratoires
        </p>
        <p>
          <b>Diffusion.</b> aérienne
        </p>
        <p>
          <b>Facteurs d'exposition.</b> espaces confinés peu ventilés
          <em>(métros, cave...)</em> — météo <em>(pas de vent
          ni de pluie)</em>
        </p>
        <p>
          <b>Étendue.</b> locale à continentale — France : 48 000 décès par an
        </p>
        <p>
          <b>"Réversibilité".</b> de la minute à quelques semaines
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

  <section>
    <p><b>Sources et ressources</b></p>
    <ul>
      <li>
        Image de cheminées en Lituanie:
        <a href="https://pxhere.com/fr/photo/595004">
        https://pxhere.com/fr/photo/595004</a>
      </li>
      <li>
        « Plus de 48 000 décès par an pourraient être attribués aux PM<sub>2,5</sub>,
        dont plus de la moitié dans les agglomérations de plus de 100 000
        habitants. »<br/>
        <a href="https://www.santepubliquefrance.fr/determinants-de-sante/pollution-et-sante/air/documents/rapport-synthese/impacts-de-l-exposition-chronique-aux-particules-fines-sur-la-mortalite-en-france-continentale-et-analyse-des-gains-en-sante-de-plusieurs-scenarios">
        Santé Publique France - Impacts de l'exposition chronique aux
        particules fines sur la mortalité en France continentale...</a>
      </li>
      <li>
        <a href="https://www.ecologie.gouv.fr/sites/default/files/Plan%20d%27action%20chauffage%20au%20bois.pdf">
        Ministère de la transition écologique - Réduction des émissions issues
        du chauffage au bois en France</a>
      </li>
      <li>
        <a href="https://ree.developpement-durable.gouv.fr/themes/pressions-exercees-par-les-modes-de-production-et-de-consommation/rejets-de-polluants/emissions-de-polluants-dans-l-air/article/les-emissions-de-particules-pm2-5">
        Rapport sur l'état de l'environnement - Les émissions de particules PM<sub>2,5</sub></a>
      </li>
      <li>
        <a href="https://ree.developpement-durable.gouv.fr/themes/pressions-exercees-par-les-modes-de-production-et-de-consommation/rejets-de-polluants/emissions-de-polluants-dans-l-air/article/les-emissions-de-particules-pm10">
        Rapport sur l'état de l'environnement - Les émissions de particules PM<sub>10</sub></a>
      </li>
    </ul>
  </section>

</section>
