<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>Une question de quantité et de concentration</p>
    
    <div class="w11 txt-l" data-markdown>
      **Idée.** Plus les activités économiques sont intensives
      *(massives et concentrées)*, plus ses effets indésirables se font
      sentir.

      « massif » veut dire grande quantité (c'est la marque de l'anthropocène)
      
      « concentré » veut dire, par exemple :
      * grande quantité par unité de volume *(métaux lourds,
        particules fines)*
      * grande production par unité de surface de terre occupée *(industrie,
        pesticides, centrale thermique)*
      * grande quantité d'énergie par unité de volume *(centrale
        nucléaire, pétrole)*
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * exemple : les villes sont "intensives", elles sont là où il y a
      le plus de pollution
    </aside>

  </section>

</section>
