<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    
    <div class="w10">
      <div class="r-hstack">
        <div class="w4">
          <img class="m4" src="/assets/img/pollution-visual.png"/>
          <div class=mb32>visuelles</div>
        </div>
        <div class="w4">
          <img class="m4" src="/assets/img/pollution-noise.jpg"/>
          <div class=mb32>sonores</div>
        </div>
        <div class="w4">
          <img class="m4" src="/assets/img/gladstone-coal-power-station.png"/>
          <div class=mb32>thermales</div>
        </div>
      </div>
      <div class="r-hstack">
        <div class="w4">
          <img class="m4" src="/assets/img/pollution-space.png"/>
          <div class=mb32>spatiales</div>
        </div>
        <div class="w4">
          <img class="m4" src="/assets/img/wolsong-nuclear-power-plant.jpg"/>
          <div class=mb32>radioactives</div>
        </div>
        <div class="w4">
          <img class="m4" src="/assets/img/pollution-light.jpg"/>
          <div class=mb32>lumineuses</div>
        </div>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

  <section>
    <p><b>Sources et ressources</b></p>
    <ul>
      <li class="mb16">
        <b>Image pollution visuelle</b> : 
        <a href="https://www.flickr.com/photos/boobook48/3316003846/">
        Western Ring Road (by Boobook48)</a>
      </li>
      <li class="mb16">
        <b>Image pollution sonore</b> : 
        <a href="https://commons.wikimedia.org/wiki/File:Trafficjamdelhi.jpg">
        Traffic jam Delhi (by NOMAD)</a>
      </li>
      <li class="mb16">
        <b>Image pollution thermique</b> : 
        <a href="https://commons.wikimedia.org/wiki/File:Gladstone_Power_Station_2.jpg">
        Gladstone power station (by LBM1948)</a><br/>
        Centrale thermique à flamme au charbon, installée en bord de mer
      </li>
      <li class="mb16">
        <b>Image pollution spatiale</b> : 
        <a href="https://commons.wikimedia.org/wiki/File:Collision-50a.jpg">
        Collision 50a (by Rlandmann)</a><br/>
        Collision entre les satellites Iridium-33 et Kosmos-2251
      </li>
      <li class="mb16">
        <b>Image pollution radioactive</b> : 
        <a href="https://commons.wikimedia.org/wiki/File:Wolsong_(04790183).jpg">
        Korea Wolsong Nuclear Power Plant (by IAEA)</a><br/>
        Centrale nucléaire avec 6 réacteurs dont 4 de type CANDU à eau lourde
      </li>
      <li class="mb16">
        <b>Image pollution lumineuse</b> : 
        <a href="https://www.flickr.com/photos/sergemelki/4708189624">
        Bugs on street light (by Serge Melki)</a>
      </li>
    </ul>
  </section>

</section>
