<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>par les pesticides phytosanitaires</p>
    
    <div class="w11 txt-l r-hstack">
      <div class="w6">
          <img class="m0" src="/assets/img/pesticide.jpg"/>
          <em class="txt-sm">Épandage de pesticides phytosanitaires</em>
      </div>
      <div class="w6">
        <p class="txt-sm">Indications approximatives :</p>
        <p>
          <b>Causes.</b> agriculture (usage de pesticide pour augmenter le
          rendement agricole)
        </p>
        <p>
          <b>Impacts éventuels.</b> chute du vivant (sols et cours d'eau) —
          dégradation des sols — perturbation endocrinienne
        </p>
        <p>
          <b>Diffusion.</b> pluies, cours d'eau, bioaccumulation
        </p>
        <p>
          <b>Étendue.</b> nappes souterraines locales et cours d'eau
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

  <section>
    <p><b>Ressources</b></p>
    <ul>
      <li>
        Image :
        <a href="https://www.piqsels.com/fr/public-domain-photo-zrqic">
        https://www.piqsels.com/fr/public-domain-photo-zrqic</a>
      </li>
      <li>
        <a href="https://www.statistiques.developpement-durable.gouv.fr/sites/default/files/2021-02/datalab_80_chiffres_cles_eau_edition_2020_decembre2020v2.pdf#page=40&zoom=auto,-28,46">
        Gouv FR - Stats Développement durable - Datalab - Eau et milieux
        aquatiques (2020)</a>
      </li>
    </ul>
  </section>

</section>
