<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>par les gaz à effet de serre (GES) d'origine humaine</p>
    
    <div class="w11 txt-l r-hstack">
      <div class="w6">
        <img src="/assets/img/ghg.svg"/>
        <em class="txt-sm">Molécules de CO<sub>2</sub>, CH<sub>4</sub>,
        N<sub>2</sub>O et de difluorométhane (gaz fluoré)</em>
      </div>
      <div class="w6">
        <p class="txt-sm">Indications approximatives :</p>
        <p>
          <b>GES.</b> CO<sub>2</sub> 76% — CH<sub>4</sub> 16% <em>(méthane ou
          « gaz naturel »)</em> — N<sub>2</sub>O 6% <em>(protoxyde d'azote)
          </em> — gaz fluorés 2% <em>(CFC, HCFC, HFC, SF<sub>6</sub>...)</em>
        </p>
        <p>
          <b>Émetteurs.</b> énergies fossiles 63% <em>(charbon, pétrole,
          gaz)</em> — changement d'affectation des terres 8.5% <em>(ex. :
          déforestation)</em> — calcination du calcaire 4.5% — fermentation
          organique anaérobie <em>(élevage, rizière, décheterie)</em> —
          engrais azotés...
        </p>
        <p>
          <b>Impacts.</b> dérèglement climatique
        </p>
        <p>
          <b>Diffusion.</b> circulation atmosphérique
        </p>
        <p>
          <b>Étendue.</b> mondiale
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

  <section>
    <p><b>Sources et ressources</b></p>
    <ul>
      <li>
        Contribution aux émissions de gaz à effet de serre en 2010<br/>
        <a href="https://www.ipcc.ch/report/ar5/syr/synthesis-report/fig-1-06_rev1-01-3/">
        GIEC - AR5 SYR (2014) - figure 1.6</a>
      </li>
      <li>
        Répartition des émetteurs de GES (gaz à effet de serre)<br/>
        <a href="https://www.wri.org/resources/data-visualizations/world-greenhouse-gas-emissions-2016">
        World Ressources Institute - World GHG emissions 2016</a>
      </li>
    </ul>
  </section>

</section>
