<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>par les métaux lourds</p>
    
    <div class="w11 txt-l r-hstack">
      <div class="w6">
        <div>
          <img class="m0" src="/assets/img/fishes-market.jpg"/>
          <em class="txt-sm">Les produits de la mer concentrent des métaux lourds par
          bioaccumulation.</em>
        </div>
        <p>
          <b>Métaux.</b> cadmium, arsenic, mercure, plomb, manganèse, cuivre,
          zinc
        </p>
      </div>
      <div class="w6">
        <p class="txt-sm">Indications approximatives :</p>
        <p>
          <b>Émetteurs potentiels.</b> métallurgie et mines, pétrochimie, centrales à charbon,
          incinération des déchets, batteries, fusibles...
        </p>
        <p>
          <b>Diffusion.</b> aérienne — cours d'eau — bioaccumulation
        </p>
        <p>
          <b>Risques.</b> maladies chez les animaux <em>(dont humains)</em>
          et les plantes en fonction du métal et de sa concentration —
          apparition de maladies chroniques, de déficience immunitaire
        </p>
        <p>
          <b>Exposition</b> <em>(France)</em>. Poissons et produits de la
          mer <em>(arsenic, chrome, cadmium et mercure)</em>, tabagisme
          <em>(cadmium et cuivre)</em>, produits agricoles bio <em>(cuivre
          </em>
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Minamata ~1950 : rejet direct dans la mer (mercure)
      * Ajka (Hongrie) : [accident de l'usine d'aluminium](https://fr.wikipedia.org/wiki/Accident_de_l%27usine_d%27aluminium_d%27Ajka)
    </aside>

  </section>

  <section>
    <p><b>Sources et ressources</b></p>
    <ul>
      <li>
        Image :
        <a href="https://pxhere.com/fr/photo/1245209">https://pxhere.com/fr/photo/1245209</a>
      </li>
      <li>
        <a href="https://www.santepubliquefrance.fr/presse/2021/exposition-aux-metaux-de-la-population-francaise-resultats-de-l-etude-esteban">
        Santé Publique France - Exposition aux métaux de la population
        française : résultats de l’étude ESTEBAN</a>
      </li>
      <li>
        <a href="https://ree.developpement-durable.gouv.fr/themes/risques-nuisances-pollutions/sante-et-environnement/exposition-aux-substances-chimiques/article/metaux-lourds-cadmium-mercure-et-plomb?glossarise=2492">
        Gouv FR - Rapport sur l'état de l'environnement (REE) - Fiche - Métaux
        lourds : cadmium, mercure et plomb</a>
      </li>
      <li>
        <a href="https://fr.wikipedia.org/wiki/Accident_de_l%27usine_d%27aluminium_d%27Ajka">
          Wikipedia - Accident de l'usine d'aluminium d'Ajka en Hongrie (2010)
        </a><br/>
        La digue du réservoir de déchets miniers cède, déversant au moins
        700 000 m<sup>3</sup> de « boues rouges » faisant 10 morts et 150
        blessés.
      </li>
      <li>
        <a href="https://observers.france24.com/fr/afrique/20210831-le-fleuve-congo-menac%C3%A9-par-une-pollution-aux-d%C3%A9chets-miniers-qui-pourrait-toucher-kinshasa-et-brazzaville">
          France24 - Le fleuve Congo menacé par une pollution aux déchets
          miniers, crainte pour Kinshasa et Brazzaville (31/08/2021)
        </a><br/>
        Une fuite accidentelle de déchets a eu lieu dans une mine de diamant
        angolaise. Les rejets ont contaminé les rivières de Tshikapa et Kasai,
        affluentes de la rivière du Congo ; affectant plusieurs millions
        d'habitants qui en dépendent
      </li>
      <li>
        <a href="https://fr.wikipedia.org/wiki/R%C3%ADo_Tinto_(fleuve)">
          Wikipédia - Río Tinto
        </a><br/>
        En espagne, le Río Tinto est un fleuve coulant en Andalousie connu pour
        sa teinte rougeâtre. Sa forte acidité et teneur en fer est liée aux
        activités minières de sa région et au phénomène de drainage minier
        acide.
      </li>
      <li hidden>
        <a href="https://fr.wikipedia.org/wiki/Maladie_de_Minamata">
          Wikipedia - Maladie de Minamata
        </a><br/>
        L'usine de la compagnie Shin Nippon Chisso a rejeté des métaux lourds
        notamment chargés en mercure dans la mer, de 1932 à 1966. Les pêcheurs
        qui s'y nourissent de poissons ont contracté des maladies touchant
        le système nerveux.
      </li>
    </ul>
  </section>

</section>
