<section>

  <section data-transition="slide">
    <h2>Pollutions</h2>
    <p>par la combustion du charbon</p>
    
    <div class="w11 txt-l r-hstack">
      <div class="w6">
        <img src="/assets/img/coal-power-plant-belchatow.jpg"/>
        <em class="txt-sm">Centrale thermique au charbon de Bełchatów
        (Pologne), la plus grande d'Europe</em>
      </div>
      <div class="w6">
        <p class="txt-sm">Indications approximatives :</p>
        <p>
          <b>Causes.</b> centrale électrique (68%), sidérurgie (7%),
          cimenterie (4%)
        </p>
        <p>
          <b>Impacts.</b> dérèglement climatique <em>(responsable à 28%)</em> —
          pollution de l'air <em>(particules fines)</em>: SiO<sub>2</sub>,
          Al<sub>2</sub>O<sub>3</sub>, soufre, arsenic, mercure <em>→ dépend de la
          qualité du charbon</em>
        </p>
        <p>
          <b>Diffusion.</b> cendres : vent, infiltration dans le sol
        </p>
        <p>
          <b>Étendue.</b> locale (pollution des sols et des eaux) — continentale
          (pollution de l'air) — mondiale (climat)
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

  <section>
    <p><b>Sources et ressources</b></p>
    <ul>
      <li>
        Image :
        <a href="https://commons.wikimedia.org/wiki/File:Be%C5%82chat%C3%B3w_Elektrownia.jpg">
        Bełchatów Elektrownia (by Morgre)</a>
      </li>
      <li>
        « Répartition par usage du charbon consommé dans le monde en 2007 :
        électricité (68%), sidérurgie (7%), cimenterie (4%), reste industrie
        (8%), résidentiel-tertiaire (3%), autres (10%). »<br/>
        « Répartition des émissions mondiales de gaz à effet de serre en 2004,
        toutes causes confondues : charbon 26.8% »<br/>
        <a href="https://jancovici.com/transition-energetique/charbon/a-quoi-sert-le-charbon/">
        Jancovici - A quoi sert le charbon ?</a>
      </li>
      <li>
        <a href="https://www.oeil.nc/sites/default/files/pdf/FICHES%20DESC/3-%20CHARBON/oeil_-_fiche_charbon_pa_page_a_page.pdf">
        Observatoire de l'environnement Province Sud Nouvelle Calédonie - Le charbon et ses cendres</a>
      </li>
      <li>
        <a href="https://fr.wikipedia.org/wiki/Centrale_thermique#Impacts_environnementaux_et_sanitaires">
        Wikipedia - Centrale thermique</a>  
      </li>
      <li>
        <a href="https://fr.wikipedia.org/wiki/Cendre_volante">
        Wikipedia - Cendre volante</a>
      </li>
    </ul>
  </section>

</section>
