<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Activité verte</h2>
    <p>Activité dont les effets indésirables nous paraissent acceptables</p>
    
    <div class="w10 txt-l r-hstack">
      <div class="w6 px32 txt-c">
        <img src="/assets/img/fishing-inuit.jpg" alt="Inuits qui pêchent">
      </div>
      <div class="w6 px32 txt-c">
        <img src="/assets/img/fishing-rod.jpg" alt="Pêche à la canne à pêche">
      </div>
    </div>
    <div class="w10 txt-l r-hstack">
      <p class="w6 txt-c"><em>🎣 Pêche pour se nourrir</em> <br/>Activité verte ?</p>
      <p class="w6 txt-c"><em>🎣 Pêche de loisir</em> <br/> Activité pas verte ?</p>
    </div>
    <p class="fragment">
      <b>une question d'éthique</b>
      <span class="px16">$ \Rightarrow $</span>
      <b>une question de choix politique</b>
    </p>
    <p class="fragment">La science n'a pas vocation à orienter un choix éthique</p>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>

  </section>

</section>
