<section>

  <section data-transition="slide" data-auto-animate>
    <h2>La science pose un cadre pour la politique</h2>

    <div class="w10 txt-l">
      <p>
        <b>Idée.</b> Les études scientifiques mesurent les nuisances d'une activité. C'est la politique qui choisit les nuisances à gérer en priorité et qui les réglemente.
      </p>
      <p>
        Faire de la politique, c'est donc hiérarchiser nos priorités.
      </p>

      <div class="fragment">
        <p><b>Exemple du tabac</b></p>
        <ul>
          <li><b>Science</b> : risque de cancer, d'addiction et de maladies cardiovasculaires.</li>
          <li><b>Politique</b> : restrictions en lieux publics, taxes, interdit de publicité, paquet de cigarette neutre, préventions, accompagnement médical...</li>
        </ul>
        <p hidden>
          Suppression de la liberté de fumer où on veut, pour la santé de tous
          <em>→ hiérarchie des priorités</em>
        </p>
      </div>

      <p class="fragment mt64">
        <b>Idée. </b> Faire de la politique, c'est choisir de renoncer à une liberté au profit d'une contrepartie qu'on considère plus importante.
        <em>→ choix politique</em>
      </p>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Hiérarchie des priorités : conflit : dictature verte, écologie punitive
    </aside>

  </section>

  <section data-transition="slide">
    <p><b>Sources</b></p>
    <ul>
      <li>
        « Le décret définit les conditions de neutralité et d'uniformisation des conditionnements de certains produits du tabac. »
        <a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000032276104/">Décret n° 2016-334 du 21 mars 2016 relatif au paquet neutre des cigarettes et de certains produits du tabac</a>
      </li>
      <li>
        « La propagande ou la publicité, directe ou indirecte, en faveur du tabac, des produits du tabac, des ingrédients définis à l'article L. 3512-2, [...] sont interdites. »
        <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000032550536/">
        Code de la santé publique - art. L3512-4</a>
      </li>
    </ul>
  </section>

</section>
