<section>

  <section data-transition="slide">
    <h2>Pollution et activité verte</h2>
    
    <div class="w10 txt-l">
      <p>
        <b>Idée.</b> Ce n'est pas aux entreprises de décider de ce qui est vert,
        responsable, durable...
      </p>
      
      <p class="mt64"><b>Contre-exemples</b></p>
      <ul>
        <li class="mb8">
          « des projets d'agriculture <b>plus respectueuse</b> de la planète »
        </li>
        <li class="mb8">
          « fournisseurs d'électricité <b>verte</b> pour les particuliers »
        </li>
        <li class="mb8">
          « améliorer l'approvisionnement <b>responsable</b> de nos matières
          premières »
        </li>
      </ul>
      
      <p class="mt64"><b>Quelques bons exemples : </b><em>→ où on sait de quoi
      on parle</em></p>
      <ul>
        <li class="mb8">
          « ville <b>sans pesticide</b> sur les espaces publics »
        </li>
        <li class="mb8">
          « produit marqué <b>Label Rouge</b>, certification de qualité donné
          par l'État en France »
        </li>
        <li class="mb8">
          « électricité <b>décarbonée</b> » <em>→ émettant peu de gaz à effet de serre</em>
        </li>
      </ul>


    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * labels de qualité données par l'État (Label Rouge, Agriculture Bio)
    </aside>

  </section>
  
  <section>
    <p><b>Sources</b></p>
    <ul>
      <li>
        <a href="https://youtu.be/NRcM9DWFgzA?t=56">
        Pub Danone One Planet One Health</a>
      </li>
      <li>
        <a href="https://www.greenyellow-energie.fr/">
        GreenYellow energie</a>
      </li>
      <li>
        <a href="https://www.nutella.com/fr/fr/coulisses-nutella/nos-engagements-durables">
        Nutella - Nos engagements durable</a>
      </li>
    </ul>
  </section>

</section>
