<section>

  <section data-transition="slide" data-auto-animate>
    <h2>Activité verte</h2>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * 
    </aside>

  </section>

</section>
