<section>

  <section>
    <h2>C'est quoi le rapport ?</h2>
    <div class="w9 txt-l">
      <p><b>Anthropocène.</b> Époque fortement marquée par l'impact des activités humaines sur les écosystèmes.</p>
      <p class="mb2">La science économique étudie les activités humaines.</p>
      <ul>
        <li><em>économie urbaine, agricole, des territoires, de l'environnement, des ressources, du travail, de la santé, de l'industrie, publique, des institutions, internationale...</em></li>
      </ul>
      <p>Le capitalisme est un mode d'organisation de l'économie.</p>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Economie : nombreux champs d'étude
    </aside>
  </section>

</section>
