<section>

  <section>
    <h2>La science économique est-elle molle ?</h2>
    <p>Les hypothèses de la science économique sont-elles difficiles à tester ?</p>

    <div class="w11 txt-l">
      <div class="fragment">
        <p class="mb4 mt32">
          <b>Difficile de valider une prédiction</b> <em>→ ex. : baisser le SMIC réduira le chômage</em>
        </p>
        <ul>
          <li>
            Il y a tellement de facteurs d'influence différents, au point qu'on ne peut pas dire si une prédiction est correcte pour les bonnes raisons.
          </li>
        </ul>
      </div>

      <div class="fragment">
        <p class="mb4">
          <b>Difficile de reproduire une expérience</b> <em>→ ex. : la crise financière de 2008, l'année 2020 sans le COVID</em>
        </p>
        <ul>
          <li>
            On ne peut pas recréer les conditions d'une telle expérience, car il faudrait s'attarder sur <br />
            une infinité de paramètres.
          </li>
        </ul>
      </div>

      <div class="fragment">
        <p class="mb8 mt32">
          <b>Plusieurs écoles de pensée économique</b> <em>→ ex. : marxisme, post-keynésianisme, nouvelle économie keynésienne, nouvelle économie classique...</em>
        </p>
        <ul>
          <li class="mb16">
            Tensions et rapports de force entre écoles de pensée : celle qui gagne forme la pensée dominante, elle est dite « <b>orthodoxe</b> » et les autres sont dites « <b>hétérodoxes</b> ».
          </li>
          <li class="fragment">
            Pas de consensus clair. Pire, pour résoudre un même problème, deux écoles de pensée vont, parfois, préconiser deux actions complètement opposées.
            <em>→ pas de consistance dans la discipline</em>
          </li>
        </ul>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * reproduire une expérience en faissant légèrement varier les paramètres (ex. : objet gravité)
      * orthodoxe/hétérodoxe ; majoritaire/minoritaire ; dominante/marginale
      * en physique fondamentale, tout le monde admet que la matière est atomique (aucun scientifique ne défend une matière eau/terre/feu/air)
    </aside>
  </section>

</section>
