<section>

  <section>
    <h2>Les économistes ne sont pas d'accord</h2>
    <p>Est-ce que c'est grave ? Est-ce que la science économique ne sert à rien au final ?</p>

    <div class="w11 txt-l">
      <p><b>Non</b>, il ne faut juste pas faire dire à la science économique ce qu'elle ne peut pas dire</p>
    
      <p>
        <b>À quoi la science économique peut-elle prétendre ?</b>
        <em>→ difficile à dire, personne n'est d'accord</em>
      </p>
      <ul>
        <li class="mb16">
          Historicisme : 
          <span class="op70">
            pas de théorèmes valables en tout temps et tout lieu. La discipline économique se résume à l'histoire des faits économiques et à leur analyse.
          </span>
        </li>
        <li class="mb16">
          Néoclassique (pensée dominante), et d'autres courants de pensée... :
          <span class="op70">
            pose des hypothèses considérées vraies pour établir des théorèmes et veut décrire et prédire les phénomènes économiques.
          </span>
        </li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>

</section>
