<section>

  <section>
    <h2>Bilan</h2>
    <p>La science économique est elle une science exacte ?</p>

    <div class="w11 txt-l">
      <p><b>Il n'y a pas de consistance en science économique</b> 🔶</p>
      <ul>
        <li>Les économistes ne sont pas d'accord entre eux sur de nombreux points</li>
        <li>Pour résoudre un même problème, ils peuvent préconiser des solutions complètement opposées</li>
      </ul>

      <p><b>On n'est pas d'accord sur ce que la science économique peut dire ou non</b></p>
      <ul>
        <li>La plupart pensent qu'on peut établir des théorèmes pour prédire le comportement de l'économie</li>
        <li>Certains affirment que la discipline ne peut se limiter qu'à l'étude de phénomènes passés ; et qu'il n'existe pas de loi en économie qui soit valable en tout temps et en tout lieu</li>
      </ul>
      
      <p>
        <b>La science économique n'est pas une science dure</b>
        <em>
          → au sens de <a href="#/5/1">cette définition*</a>🔶
        </em>
      </p>
      <ul>
        <li>Une loi de la physique est plus fiable qu'une loi d'économie</li>
      </ul>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
    </aside>
  </section>

  <section>
    <p><b>Précisions</b></p>
    <ul class="w11">
      <li>
        <p>
          <b>Science dure</b> <em>(définition vague)</em>. 
          Se caractérise par des hypothèses faciles à tester. 🔶<br/>
          $ \Rightarrow $ les hypothèses fausses sont rapidement écartées <br/>
          $ \Rightarrow $ les scientifiques tendent à partager le même socle d'hypothèses considéré comme vrai <br/>
          $ \Rightarrow $ la dureté d'une science peut s'approximer en mesurant le consensus au sein des experts du domaine
        </p>
        <p>
          Plus les scientifiques aboutissent aux mêmes observations
          <span class="mx8">$ \approx $</span>
          Plus la discipline est consistante
        </p>
        <p>
          Plus les scientifiques sont d'accord entre eux
          <span class="mx8">$ \approx $</span>
          Plus la discipline scientifique est dure
        </p>
      </li>
      <li>
        <b>Facile à tester</b> : ne veut pas forcément dire peu coûteux → ça veut dire que l'énoncé de l'hypothèse est non-ambigu et réfutable, que l'expérience à réaliser et reproduisible, qu'on possède des indicateurs, des mesures appropriées pour l'observation des résultats et que celle-ci laisse peu place à des biais d'interprétation.
      </li>
    </ul>
  </section>

</section>
