<section>

  <section>
    <h2>Différence entre science molle et science dure</h2>

    <div class="w11 txt-l">
      <p>
        <b>Méthode scientifique</b>.
        Hypothèses
        $ \rightarrow $ Prédictions
        $ \rightarrow $ Expériences
        $ \rightarrow $ Observations 
        <em class="op60">
          $ \rightarrow $ Hypothèses
          $ \rightarrow $ ...
        </em>
      </p>

      <div class="fragment">
        <p class="mt32"><b>Exemples d'hypothèses et de prédictions à tester</b></p>
        <ul>
          <li>
            Le comportement d'un objet en mouvement (mécanique physique)
            <em>→ facile à tester</em>
          </li>
          <li>
            Les effets cliniques d'une substance sur la santé (médecine)
            <em>→ relativement facile à tester</em>
          </li>
          <li>
            Nos opinions ont tendance à être influencées par la majorité (psychologie sociale)
            <em>→ plus dur</em>
          </li>
          <li>
            Dérèglementer l'économie permet de la rendre plus stable (macroéconomie)
            <em>→ très dur à tester</em>
          </li>
        </ul>
      </div>

      <div class="fragment mt32">
        <p>
          <b>Science dure</b> <em>(définition vague)</em>. 
          Se caractérise par des hypothèses faciles à tester*. 🔶<br/>
          $ \Rightarrow $ les hypothèses fausses sont rapidement écartées <br/>
          $ \Rightarrow $ les scientifiques tendent à partager le même socle d'hypothèses considéré comme vrai <br/>
          $ \Rightarrow $ la dureté d'une science peut s'approximer en mesurant le consensus au sein des experts du domaine
        </p>
        <p>
          Plus les scientifiques aboutissent aux mêmes observations
          <span class="mx8">$ \approx $</span>
          Plus la discipline est consistante
        </p>
        <p>
          Plus les scientifiques sont d'accord entre eux
          <span class="mx8">$ \approx $</span>
          Plus la discipline scientifique est dure
        </p>
      </div>
    </div>

    <aside class="notes" data-markdown>
      __0:XX:00__
      * Expérience : obj soumis à la gravité
      * Socle d'hypothèses considéré comme vrai = connaissances
    </aside>
  </section>

  <section>
    <p><b>Précision</b></p>
    <ul>
      <li>
        *Facile à tester : <b>ne veut pas forcément dire peu coûteux</b> → ça veut dire que l'énoncé de l'hypothèse est non-ambigu et réfutable, que l'expérience à réaliser et reproduisible, qu'on possède des indicateurs, des mesures appropriées pour l'observation des résultats et que celle-ci laisse peu place à des biais d'interprétation.
      </li>
    </ul>
    <p><b>Source</b></p>
    <ul>
      <li>
        Sur les tests, la réfutabilité, la mise à l'épreuve des hypothèses/prédictions : Le critère de Popper : « Toute vraie science nécessite des énoncés généraux, (des énoncés universels au sens strict), c'est-à-dire des énoncés potentiellement réfutables. Par conséquent, un certain type de tests qui ne peut obéir, logiquement, qu'à des procédures visant à mettre à l'épreuve les théories. Sachant que ces procédures consistent en des tentatives de réfutation, elles aboutissent donc soit à une réfutation effective, soit à la corroboration. ».
        Karl Popper, « Misère de l’historicisme » via
        <a href="https://fr.wikipedia.org/wiki/Karl_Popper#Les_limites_du_champ_d'application">
        Wikipedia - Karl Popper</a>.
      </li>
    </ul>
  </section>

</section>
